<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author">
    <title>个人中心-个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="__PUBLIC__/web/css/header.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/ydy.css">
    
    <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/web/css/layer.css" id="layui_layer_skinlayercss" style="">
    <link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/complete.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/money.css">
    <style>
        footer {
            color: #535952;
            font-size: 15px;
            margin: 20px auto;
            text-align: center;
            width: 1220px;
        }
    </style>
    <script type="text/javascript" src="__PUBLIC__/web/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/complete.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/lianxdong.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
</head>
<body>
    <include file="Public:header"/>
    <aside>
        <div class="xtx">
            <img class="ttx" src="__PUBLIC__/web/img/icon_10.png" alt=""><span>个人中心</span>
            <img class="dy" src="__PUBLIC__/web/img/icon_forward.png" alt=""><span class="gd verify_status" style="margin-left: 13px;">查看资料</span> <span class="fh"><a href="http://www.shanxinhui.com/index/user/person.html">返回&nbsp;&gt;&gt;</a></span>
        </div>
        <hr class="grhr">
        <form id="info_form" method="post" class="xinxi" action="{:U('User/editUserInfo')}" >
            <div class="grxx" id="complate_image">
                <img src="__PUBLIC__/web/img/1.png" alt="" usemap="#Map">
                <map name="Map" id="Map">
                    <area onclick="clickInfo();" shape="rect" coords="1,1,341,55" href="javascript:void(0);">
                    <area onclick="clickInfoImage();" shape="rect" coords="374,2,715,55" href="javascript:void(0);">
                    <area onclick="clickShenhe();" shape="rect" coords="750,1,1091,56" href="javascript:void(0);">
                </map></div>
            <eq name='userinfo.status' value='2'>
            <p class="ts" id="verify_title_1">审核已通过，不能修改资料信息</p>
            </eq>
            <label class="user">姓名：</label>
            <input id="info_name" name="name" autocomplete="ture" required="required" pattern="[\u4e00-\u9fa5]{1,6}"  value="{$userinfo.name}" type="user"/>
            <span style="color: red">&nbsp;&nbsp;*</span>
            <b class="b_01">&nbsp;姓名不能为空</b><b class="b_02">&nbsp;姓名不符合规范</b><br>
            <label class="tel">手机号码：</label>
            <input disabled="disabled" id="info_phone" name="phone" required="required" pattern="^[1][3-8]\d{9}$" value="{$userinfo.phone}" type="tel">
            <span style="color: red">&nbsp;&nbsp;*</span>
            <b class="b_03">&nbsp;手机号码不能为空</b><b class="b_04">&nbsp;手机号码不符合规范</b><br>
            
            
            <label class="zfb">身份证：</label>
            <input id="info_alipay_account" name="idcard" required="required"  value="{$userinfo.idcard}" type="zfb">
            <span style="color: red">&nbsp;&nbsp;*</span>
            <b class="b_07">&nbsp;身份证不能为空</b>
            <b class="b_08">&nbsp;身份证不符合规范</b><br>
            <label class="zfb">支付宝：</label>
            <input id="info_alipay_account" name="alipay" required="required"  value="{$userinfo.alipay}" type="zfb">     
            <b class="b_11">&nbsp;支付宝不符合规范</b><br>
            <label class="zfb">微信号：</label>
            <input id="info_alipay_account" name="wechat" required="required"  value="{$userinfo.wechat}" type="zfb">
            <span style="color: red">&nbsp;&nbsp;*</span>
            <b class="b_07">&nbsp;微信号不能为空</b>
            <b class="b_08">&nbsp;微信号不符合规范</b><br>
            <label class="yh">银行卡：</label>
            <input id="info_bank_account" maxlength="30" name="bank_card" required="required"  value="{$userinfo.bank_card}" type="yh">
            <span style="color: red">&nbsp;&nbsp;*</span><b class="b_12">&nbsp;银行卡不能为空</b> <b class="b_13">&nbsp;银行卡不符合规范</b><br>
            <label class="kf">开户行：</label> 
            <input id="info_bank_name" name="bank" required="required"  value="{$userinfo.bank}" type="kf">
            <span style="color: red">&nbsp;&nbsp;*</span><b class="b_14">&nbsp;开户行不能为空</b>
            <b class="b_15">&nbsp;开户行不符合规范</b><br> 
            <neq name='userinfo.status' value='3'>
            <p class="btn user_info_next_submit" id="next1" <eq name="userinfo.status" value="2">style="display: none;"</eq>>下一步</p>
            </neq>
        </form>



        <form action="" class="yanzheng layui-form" >
            <div class="grxx">
                <img src="__PUBLIC__/web/img/2.png" alt="" usemap="#Map">
            </div>
            <eq name='userinfo.status' value='2'>
            <p class="ts" id="verify_title_1">审核已通过，不能修改资料信息</p>
            </eq>

            <!-- 身份证正面 -->
            <div class="front">
                <span class="span1">*&nbsp;&nbsp;</span>
                <p class="zmz">身份证正面照：</p>
                
                <div class="layui-input-inline">
                    <neq name='userinfo.status' value='2'>
                    <input type="file" name="file1" id="aaaa" class="aaaa layui-upload-file">
                    </neq>
                    <input type="hidden" name="idcard_imga" id="image_patha" value=""/>
                    <eq name='userinfo.idcard_imga' value=''>
                    <img id="img_uploada" src="__PUBLIC__/web/img/timg.jpg" style="width: 200px;height: 100px;">
                    <else/>
                    <img id="img_uploadb" src="{$userinfo.idcard_imga}" style="width: 200px;height: 100px;">
                    </eq>
                   
                </div>
                <p class="xiangjie" id="image_a_p">支持jpg.png小于 5M,要求图片清晰，信息完整</p>

                
            </div>

            <!-- 身份证反面 -->
            <div class="back">
                <span class="span2">*&nbsp;&nbsp;</span>
                <p class="fmz">身份证反面照：</p>
                <div class="layui-input-inline">
                    <neq name='userinfo.status' value='2'>
                    <input type="file" name="file2" id="bbbb" class="bbbb layui-upload-file">
                    </neq>
                    <input type="hidden" name="idcard_imgb" id="image_pathb" value=""/>
                    <eq name='userinfo.idcard_imgb' value=''>
                    <img id="img_uploadb" src="__PUBLIC__/web/img/timg.jpg" style="width: 200px;height: 100px;">
                    <else/>
                    <img id="img_uploadb" src="{$userinfo.idcard_imgb}" style="width: 200px;height: 100px;">
                    </eq>
                    
                </div>          
                <p class="xiangjie" id="image_b_p">支持jpg.png小 于5M,要求图片清晰，信息完整</p>
            </div>

            

            <p class="syb" <eq name="userinfo.status" value="2">style="display: none;"</eq>>上一步</p>
            <p class="tijiao" id="subimt_info" <eq name="userinfo.status" value="2">style="display: none;"<else/>style="cursor: pointer; " </eq>>提交</p>
        </form>




        <!-- Ajax上传图片 Start -->
        <script type="text/javascript">
            layui.use('upload', function(){
                $ = layui.jquery;
                layui.upload({
                  url: "{:U('User/upload_a')}"
                  ,title: '上传图片'
                  ,elem: '#aaaa' //指定原始元素，默认直接查找class="layui-upload-file"
                  ,ext: 'jpg|png|gif|jpeg'
                  ,method: 'post' //上传接口的http类型
                  ,success: function(res){
                    if(res.status == 'error'){
                      layer.msg(res.msg);
                    }else{
                      $("#image_patha").val(res.url);
                      img_uploada.src = res.url;
                    }
                  }
                });
                layui.upload({
                  url: "{:U('User/upload_b')}"
                  ,title: '上传图片'
                  ,elem: '#bbbb' //指定原始元素，默认直接查找class="layui-upload-file"
                  ,ext: 'jpg|png|gif|jpeg'
                  ,method: 'post' //上传接口的http类型
                  ,success: function(res){
                    if(res.status == 'error'){
                      layer.msg(res.msg);
                    }else{
                      $("#image_pathb").val(res.url);
                      img_uploadb.src = res.url;
                    }
                  }
                });
              });
        </script>
        
        <!-- Ajax上传图片 End -->





        <form action="" class="shenhe">
            <div class="examine">
                <img src="__PUBLIC__/web/img/3.png" alt="" usemap="#Map">
            </div>
            <eq name='userinfo.status' value='2'>
            <p class="ts" id="verify_title_1">审核已通过，不能修改资料信息</p>
            </eq>
            <div class="success">
                <span class="duihao"><img src="__PUBLIC__/web/img/kuang_08.png" alt=""></span>
                <eq name='userinfo.status' value='2'>
                <h2>您已通过审核</h2>
                <else/>
                <h2>请耐心等待审核</h2>
                 </eq>
            </div>

        </form>
    </aside>

    <footer class="footer">
        <p>©有限公司版权所有</p> 　　　　<span><a class="jingbei" href="http://www.miitbeian.gov.cn/">粤ICP备15076181号</a></span>
        <p>2016V2.0版本</p>
    </footer>

</body>
</html>