<!DOCTYPE html>
<html style="" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/web/css/layer.css" id="layui_layer_skinlayercss" style="">
    <link rel="stylesheet" href="__PUBLIC__/web/css/header.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/ydy.css">
    <!--<link rel="stylesheet" href="__PUBLIC__/web/css/gdmx.css">-->
    <link rel="stylesheet" href="__PUBLIC__/web/css/system.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/bootstrap.css">
    
    <style>
        footer {
            color: #535952;
            font-size: 15px;
            margin: 20px auto;
            text-align: center;
            width: 1220px;
        }
    </style>

</head>
    <body>
        <include file="Public:header"/>
        <section id="main" class="news_list_main">
            <div class="system">
                <p><img src="__PUBLIC__/web/img/icon_010.png" alt=""> 帮助&nbsp;&gt;&nbsp;<span class="message" style="color: rgb(169, 11, 22);">帮助列表</span></p>
                <a href="javascript:history.go(-1)">返回&gt;&gt;</a>
            </div>
            <ul class="tell">
<!--                <li class="noticeA "><a href="#t1" class="active" id="news_list">平台公告</a></li>
                <li class="noticeB"><a href="#t2" id="news_list_person" class="">审核通知</a></li>
                <li class="noticeC"><a href="#t3" id="news_list_deblocking" onclick="getDeblockingList(12, 1, 1);" class="">解封通知</a></li>-->
            </ul>
            <table id="t1" class="actives">
                <thead>
                    <tr>
                        <td class="one" width="10%">编号</td>
                        <td class="two">金额</td>
                        <td class="two">今日收益</td>
                        <td class="two">至今收益</td>
                        <td class="three">时间</td>
                        <td class="four">状态</td>
                        <td class="four">操作</td>
                    </tr>
                </thead>
                <tbody class="gonggaotongzhi">
                <volist name="helplist" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td class="title"><span style="cursor:pointer" onclick="newsDetail(172)">{$vo.amount}</span></td>
                        <td>{$vo.today_sy}</td>
                        <td>{$vo.total_sy}</td>
                        <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.status_name}</td>
                        <td>
                            <a data="{$vo.id}" class="layui-btn layui-btn-mini layui-btn-normal match_list"><i class="layui-icon">&#xe615;</i>查看匹配</a>
                            <a data="{$vo.id}" <neq name="vo.status" value="2">class="layui-btn layui-btn-mini layui-btn-waim confirm"<else/>class="layui-btn layui-btn-mini layui-btn-disabled"</neq> ><i class="layui-icon">&#xe627;</i>确认打款</a>
                        </td>
                    </tr>
                </volist>
                    
                    
                </tbody>
            </table>
            
            <div class="result_null" style="display: none;">暂无数据</div>

            
            <div class="tcdPageCode" id="callBackPager" style="text-align: center; display: block;"> 
                {$show}
<!--                <ul class="pagination"> 
                    <li class="previous"><a href="#">«</a></li>
                    <li class="disabled hidden"><a href="#">...</a></li> 
                    <li class="active"><a href="#">1</a></li>
                    <li class="disabled hidden"><a href="#">...</a></li>
                    <li class="next"><a href="#">»</a></li>
                </ul>-->
            </div>
        </section>
        <footer class="footer">





            <footer class="footer">
                <p>©#有限公司版权所有</p><span></span>
                <p>2017V1.0版本</p>
            </footer>


        </footer>
<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
<script>
	layui.use(['laypage','layer','form'], function() {
		var laypage = layui.laypage,
				$ = layui.jquery
		//请求表单
//                laypage({
//                    cont: 'page'
//                    ,pages: 100 //总页数
//                    ,groups: 5 //连续显示分页数
//                });

		
		$('.match_list').click(function(){
			var givehelp_id = $(this).attr('data');
			var url = "{:U('Index/matchList')}";
			$.get(url,{givehelp_id:givehelp_id},function(data){
				if(data.status == 'error'){
					layer.msg(data.msg,{icon: 5});
					return;
				}
				layer.open({
					title:'匹配列表',
					offset:'t',
					type: 1,
					skin: 'layui-layer-rim', //加上边框
					area: ['70%','80%'], //宽高
					content: data,
				});
			})
		});
		$('.confirm').click(function(){
			var givehelp_id = $(this).attr('data');
			var url = "{:U('Index/confirmMoney')}";
			layer.confirm('您确定已经打款吗?', {
				icon: 3,
				skin: 'layer-ext-moon',
				btn: ['确认','取消'] //按钮
			}, function(){
				$.post(url,{givehelp_id:givehelp_id},function(data){
					if(data.status == 'error'){
						layer.msg(data.msg,{icon: 5});//失败的表情
						return;
					}else{
						layer.msg(data.msg, {
							icon: 6,//成功的表情
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							location.reload();
						});
					}
				})
			});
		})


	});
</script>
