<div class="page-content">
    <div class="input-group datepicker date">
        <select class="province" id="province-g" ></select>
        <select class="city" id="city-g" ></select>
        <select name="address" class="area" id="area-g" ></select>
    </div>
    <div class="input-group datepicker date">
        <select class="province" id="province-t"></select>
        <select class="city" id="city-t"></select>
        <select name="address" class="area" id="area-t"></select>
    </div>
</div>
<script>
    function get_pca(province_id,city_id,area_id,postfix){ //例：get_pca(110000,110100,110108,'g');北京市 市辖区 海淀区 id="province-g"
        $.get("{:U('/Home/Index/getcity')}", { province_id:province_id, city_id:city_id, area_id:area_id },function(data){
            if(data.errNum==0){
                $('#province-'+postfix).html(data.retData.province);
                $('#city-'+postfix).html(data.retData.city);
                $('#area-'+postfix).html(data.retData.area);
            }else{
                showError('获取城市列表失败');
            }
        });
    }
    $('.province').change(function () {
        var id = $(this).attr('id');
        var postfix = id.substr(id.length-1,1);
        var province_id = $(this).val();
        get_pca(province_id,0,0,postfix);
    })
    $('.city').change(function () {
        var id = $(this).attr('id');
        var postfix = id.substr(id.length-1,1);
        var province_id = $(this).prev().val();
        var city_id = $(this).val();
        get_pca(province_id,city_id,0,postfix);
    })
    get_pca(110100,110100,0,'g');
    get_pca(110100,110100,0,'t');
</script>