<style>
    #add-communcation-log .communcation-add{float: left;width: 100%}
    #add-communcation-log .communcation-log{clear:both;float: left;width: 100%;border-top: solid #ddd 1px;margin-top: 10px;max-height: 260px;overflow: auto}
    #add-communcation-log .communcation-log h1{font-size: 14px}
    #add-communcation-log .communcation-log ul{padding: 0; margin: 0}
    #add-communcation-log .communcation-log li{list-style: none}
</style>
<div style="width: 500px" id="add-communcation-log">
    <div class="communcation-add">
        <form id="communcationlog_add_form" class="form" action="{:U('communicationLog')}" method="post">
            <if condition="$wantUpCustomer eq 1 and $customer_info['create_time'] gt 1476892800">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-6 col-2">有无房产：
                        <select class="form-control" name="communcationlog[house_status]" id="house_status">
                            <option value=""></option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-2">确认贷款金额<small class="text-danger">0 代表无需求</small>
                        <div class="input-group">
                            <input type="hidden" name="communcationlog[loan_amount]" value=""/>
                            <input type="text" class="form-control" id="loan_amount" value=""/>
                            <span class="input-group-addon">万元</span>
                        </div>
                    </div>
                </div>
                <elseif  condition="$customer_info['create_time'] gt 1476892800"/>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-6 col-2">有无房产：
                        <div style="text-align: center;">{$useful['house_status']}</div>
                    </div>
                    <div class="col-xs-6 col-2">确认贷款金额（万元）<small class="text-danger">0 代表无需求</small>
                        <div style="text-align: center;">{$useful['loan_amount']/10000}</div>
                    </div>
                </div>
            </if>

            <div>沟通内容：
                <textarea class="form-control log-content" name="communcationlog[content]" ></textarea>
            </div>
            <input name="communcationlog[customer_id]" type="hidden" value="{$id}">
            <input type="submit" class="btn btn-primary pull-right" style="margin-top: 10px" name="submit" value="保存">
        </form>
    </div>
    <div class="communcation-log">
        <h1><i class="fa fa-commenting"></i> 沟通记录：</h1>
        <ul>
            <volist name="list" id="vo">
                <li>
                    {$i}、 {$vo.create_time|date="Y-m-d H:i",###} | {$vo.create_user_name} | {$vo.content}
                </li>
            </volist>
        </ul>

    </div>
</div>
<script type="text/javascript">
    $("#loan_amount").change(function(){
        var loan_amount = $(this).val();
        loan_amount = loan_amount*10000;
        $(this).prev().val(loan_amount);
    })
    $('#communcationlog_add_form').ajaxForm({success: success,beforeSend:checkForm});
    function checkForm(){

        if($('#house_status').length > 0){
            var house_status = $("#house_status").val();
            var loan_amount = $("#loan_amount").val();

            var nullHouse_status=!house_status||house_status=='';
            var nullLoan_amount=!loan_amount||loan_amount=='';

            if((!nullHouse_status&&nullLoan_amount)||(nullHouse_status&&!nullLoan_amount)){
                showWarning('请将有无房产和确认贷款金额填写完整');
                return false;
            }
        }

        if('' === trim($('.log-content').val())){
            $('.log-content').focus();
            showWarning('沟通内容不能为空！');
            return false;
        }
    }

    var house_status = $("#house_status").val();
    function success(data) {
        if(data.errNum==0){
            showSuccess(data.retData);
            $('#tr_{$id}').find('.customerlog.btn-danger').removeClass('btn-danger').addClass('btn-success');
            $('#tr_{$id}').find('.customerlog').attr('data-original-title','');
            closeDlg();
        }else{
            showError(data.errMsg);
        }
        $('#tr_{$id}').removeClass('success');
    }

</script>

