<style>
    .page-bar div{ display: inline;float: right;margin-right: 30px}
</style>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th width="20px"></th>
        <th width="150px">客户</th>
        <th>客户类型</th>
        <th>称呼</th>
        <th width="160px">手机号码</th>
        <th width="130px">需求金额</th>
        <th>房产</th>
        <th>来源</th>
        <th>城市</th>
        <th><a href="javascript:void(0)" class="customer_order" rel="create_time" title="倒">创建时间 <i class="fa fa-angle-down"></i></a></th>
        <th><a href="javascript:void(0)" class="customer_order" rel="communitime" title="倒">跟进时间 <i class="fa fa-angle-down"></i></a></th>
        <th width="150px">操作</th>
    </tr>
    </thead>
    <tbody><input type="hidden" id="url" value="{$_SERVER['REQUEST_URI']}" />
    <foreach name="data.data" item="vo">
        <tr id="tr_{$vo.customer_id}">
            <td></td>
            <td><a href="javascript:void(0)" class="view-customer" rel="{$vo.customer_id}">{$vo.customer_name}</a></td>
            <td>{$vo.customer_type}</td>
            <td>
                <if condition="$vo.sex eq '男'">
                    先生
                    <elseif condition="$vo.sex eq '女'"/>
                    女士
                </if>
            </td>
            <td><span class="look_phone" style="margin-right: 20px;">{$vo.telephonenumber}</span>
                <!--<span class="view-customer-phone text-warning" rel="{$vo.customer_id}" style="cursor:pointer;"><i class="fa fa-eye"></i> <small>{$vo.phone_view_count}</small></span>-->
            </td>
            <td class="money-format">{$vo['loan_amount']/10000} 万</td>
            <td>{$vo.house_status}</td>
            <td>{$vo.customer_source}</td>
            <td>{$vo.city}</td>
            <td><if condition="$vo.create_time neq 0">
                {$vo.create_time|date='Y-m-d H:i:s',###}
                <else/>
                空
            </if></td>

            <td><if condition="$vo.communitime neq 0">
                {$vo.communitime|date='Y-m-d H:i:s',###}
                <else/>
                空
            </if></td>
            <td>
                <a href="javascript:void(0);" class="customerlog btn btn-sm <if condition='$vo.communitime eq 0'>btn-danger<else/>btn-success</if>"
                   rel="{$vo.customer_id}" data-id="{$vo.customer_id}" data-url="{:U('communicationLog')}/id/{$vo.customer_id}"
                   data-placement="left" data-original-title=""><i class="fa fa-commenting-o"></i> 沟通</a>
                <a href="javascript:void(0)" class="receive-customer btn btn-primary btn-sm " rel="{$vo.customer_id}">领取</a>
            </td>
        </tr>
    </foreach>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="12" class="page-bar">
            <div>
                <select name="perpage" id="perpage" class="form-control" style="width: 60px;height: 30px;padding:3px">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            {$data.page}
        </td>
    </tr>
    </tfoot>
</table>
<script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $(".customerlog").mouseenter(function(){
            var $this =$(this);
            var customer_id = $this.attr("data-id");
            var title = $this.attr('data-original-title');
            var url= "{:U('showCommunicationLog')}/id/"+customer_id;
            $('.tooltip').remove();
            if(!$this.hasClass('btn-danger') && title=='') {
                $this.attr('data-original-title','加载中...');
                $this.tooltip({html:true,trigger:'hover'}).tooltip('show');
                $.get(url,function(html){
                    $this.attr('data-original-title',html);
                    $this.tooltip('show');
                    return;
                });
            }
            $this.tooltip({html:true,trigger:'hover'}).tooltip('show');
        }).mouseout(function(){
            var $this = $(this);
            var tooltip = $('.tooltip').clone();
            $('.tooltip').remove();
            $this.after(tooltip);
            $this.tooltip('show');
            setTimeout(function(){
                $(document).mouseover(function(e){
                    var target = e.target;
                    var div =$(target).parents('div').attr('class');
                    if('tooltip-inner' !== div){
                        tooltip.remove();
                    }
                });
            },50);
        });

    });

    $('.customer_order').each(function(){
        var filed=$(this).attr('rel');
        if($('#order_input').val()==filed){
            if($('#pot_input').val()=='DESC'){
                $(this).attr('title','顺');
                var text = $(this).html();
                text = text.replace('down','up');
                $(this).html(text);
            }
        }
    });

    $('.customer_order').click(function(){
        var filed=$(this).attr('rel');
        var pot='DESC';
        if($(this).attr('title')=='倒'){
            pot='DESC';
        }else{
            pot='ASC';
        }
        $('#order_input').val(filed);
        $('#pot_input').val(pot);
        var url = $('#url').val();
        if(url.indexOf("?") > 0 ){
            var link = url+"&orderby="+filed+"&pot="+pot;
        }else{
            var link = url+"?orderby="+filed+"&pot="+pot;
        }
        loadURL(link,'#ajax-content');
    });

    $('#perpage').val("{$data.perpage}");
    $('#perpage').change(function () {
        var perpage = $(this).val();
        var url = $('#url').val();
        var url = url+"&perpage=" + perpage;
        loadURL(url,'#ajax-content');

    });

    $('.customerlog').click(function () {
        var id = $(this).attr("rel");
        var url = "{:U('communicationLog')}/id/" + id;
        openAjaxDialog('添加沟通日志', url, true);
    });
    //查看客户手机
    $(".view-customer-phone").click(function () {
        var $this = $(this);
        var id = $(this).attr("rel");
        var url = "{:U('lookInfo')}/customer_id/" + id;
        var look_phone = $(this).parent().parent().find('.look_phone');
        $.get(url, function (data) {
            if(data.errNum == 0){
                look_phone.html(data.retData['telephonenumber']);
                var i = $this.find('small').text();
                if(i<2){
                    i++;
                }
                $this.find('small').text(i);
            }else{
                showWarning(data.errMsg);
            }
        });
    });
    $('.view-customer').click(function () {
        var id = $(this).attr("rel");
        var url = "{:U('view')}/id/" + id;
        openAjaxDialog('查看客户信息',url,1);
    });
    $(".receive-customer").click(function () {
        var $this = $(this);
                var id = $this.attr("rel");
                if (id < 1) {
                    showError('领取失败！');
                    return false;
                }
                var url = "{:U('receive')}/customer_id/" + id;
                $.get(url, function (data) {
                    if(data.errNum==0){
                        showSuccess(data.retData);
                        $this.parents('tr').remove();
                    }else{
                        showError(data.errMsg);
                    }
                });
            }
    )
</script>
