		<div class="box" style="width:650px;height: 360px">
			<div class="box-header" id="box-header">
				<div class="navbar navbar-default">
					<form action="{:U('selCustomerTable')}" id="frmSearch" class="navbar-form form-inline" method="get">
						<div class="form-group">
							<label class="control-label" for="input-customer_namer">姓名</label>
							<div class="input-group">
								<input type="text" name="customer_name" placeholder="姓名" class="input-sm" id="input-customer_namer" style="width:110px;">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="input-telephonenumber">手机号</label>
							<div class="input-group">
								<input type="text" name="telephonenumber" placeholder="手机号" class="input-sm" id="input-telephonenumber" style="width:110px;">
							</div>
						</div>
						<div class="form-group">
							<button type="submit" id="button-filter" class="btn btn-default pull-right btn-sm">
								<i class="fa fa-search"></i> 筛选
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="box-body">
				<div id="ajax-content-sel"> </div>
			</div>
		</div>

<script type="text/javascript">
	$(document).ready(function(){
		var link = "{:U('selCustomerTable')}";
		loadURL(link,'#ajax-content-sel');
	});

	$('#frmSearch').ajaxForm({beforeSend:checkForm,success:success});
	function checkForm(){

	}
	function success(data){
		$('#ajax-content-sel').html(data);
	}
</script>