<div class="row clearfix">
	<div class="col-xs-6 col-2"><label>客户姓名:</label>{$data.customer_name}</div>
	<div class="col-xs-6 col-2"><label>手机分类:</label>{$data.customer_classify}</div>
</div>
<div class="row">
	<div class="col-xs-6 col-2"><label>客户性别:</label>{$data.sex}</div>
	<div class="col-xs-6 col-2"><label>分配城市:</label>{$data.city}</div>
</div>

<div class="row">
	<div class="col-xs-6 col-2"><label><small>意向金额（元）:</small></label>{$data.loan_amount}</div>
	<div class="col-xs-6 col-2"><label>客户类型:</label>{$data.customer_type}</div>
</div>

<div class="row">
	<div class="col-xs-6 col-2"><label>年龄:</label>{$data.age}</div>
	<div class="col-xs-6 col-2"><label>婚姻:</label>{$data.marriage}</div>
</div>
<div class="row">
	<div class="col-xs-6 col-2"><label>身份证号码:</label>{$data.id_card}</div>
	<div class="col-xs-6 col-2"><label>户籍:</label>{$data.province_huji}</div>
</div>
<div class="row">
	<div class="col-xs-6 col-2"><label>渠道:</label>{$data.utm_source}</div>
	<div class="col-xs-6 col-2"><label>客户来源:</label>{$data.customer_source}</div>
</div>
<div class="row service-address">
	<div class="col-xs-12 col-2">
		<label>客户地址:</label>
		{$data['customer_address']['0']}  {$data['customer_address']['1']}  {$data['customer_address']['2']}  {$data['customer_address']['3']}
	</div>
</div>
<div class="row service-remark ">
	<div class="col-xs-12 col-2"><label>个人信息备注:</label>{$data.per_description}</div>
</div>