<div class="row">
	<div class="col-xs-6 col-2"><label>几套房:</label>{$data.house_amount}</div>
	<div class="col-xs-6 col-2"><label>房产类型：</label>{$data.house_type}</div>
</div>
<div class="row">
	<div class="col-xs-6 col-2"><label>房产估值：</label>{$data.house_value}</div>
	<div class="col-xs-6 col-2"><label>房产面积：</label>{$data.house_area}</div>
</div>

<div class="row">
	<div class="col-xs-6 col-2"><label>房龄：</label>{$data.house_age}</div>
	<div class="col-xs-6 col-2"><label>是否按揭：</label>{$data.house_age}</div>
</div>

<div class="row">
	<div class="col-xs-6 col-2"><label>是否备用房：</label>{$data.house_alone}</div>
</div>
<div class="row">
	<div class="col-xs-12 col-2"><label>房产所在区域：</label>
		{$data['house_location']['0']}  {$data['house_location']['1']}  {$data['house_location']['2']}  {$data['house_location']['3']}
	</div>
</div>