<style>
	.page-add-customer{width:620px;margin-top: -10px}
	.page-add-customer ul{padding: 0;margin: 0}
	.page-add-customer .row{display:block;clear:both;margin:5px 0}
	.page-add-customer .service-btn-box{margin-top: 30px;padding:20px;border-top:solid #ddd 1px }
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}
	.col-2{}
	.col-2 label,.col-2 input,.col-2 select{display: inline;font-weight: normal}
	.col-2 label{display: block;float: left;width: 100px;line-height:30px;font-weight: 700}
	.col-2 input,.col-2 select{width: 165px;}
	.col-2 input[type='radio']{
		width:30px;
		line-height: 30px;
	}
	.contract-content { width: 600px; height: 400px; overflow-y: auto; overflow-x: hidden;}
	.contract-content .con-left { width: 18%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 40px;}
	.contract-content .con-right { width: 32%; float: left;height: 40px;clear:right}
</style>
<div class="page-add-customer">
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li class="active"><a href="#tab_contract_add" data-toggle="tab">签署合同</a></li>
		<li><a href="#tab_base_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabBaseInfo')}">客户信息</a></li>
		<li><a href="#tab_estate_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabEstateInfo')}">房产信息</a></li>
		<li><a href="#tab_docs" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabDocs')}">附件列表</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_contract_add">
			<input type="hidden" class="form-control" id="customer_id" value="{$data.customer_id}" />
			<form id="contract_add_form" class="form" action="{:U('add')}" method="Post">

				<div class="contract-content">
					<div class="con-left">居间协议编号：</div>
					<div class="con-right">{$data.number}
						<input type="hidden" name="agreement_id" value="{$data.agreement_id}"/></div>
					<div class="con-left">借款人*：</div>
					<div class="con-right"><input type="text" maxlength="20" minlength="1" tag="借款人" class="form-control" name="borrower" value="{$data.borrower}" /></div>
					<div class="con-left">身份证*：</div>
					<div class="con-right"><input type="text" maxlength="50" minlength="1" tag="身份证" class="form-control" name="identity" value="{$data.identity}" /></div>

					<div class="con-left">联系电话*：</div>
					<div class="con-right"><input type="text" truelength="11" tag="联系电话" class="form-control" name="phone" value="{$data.telephone}" /></div>
					<div class="con-left">户籍地址*：</div>
					<div class="con-right" style="width: 82%;"><input type="text" maxlength="100" minlength="1" tag="户籍地址" class="form-control" name="per_address"/></div>


					<div style="clear: both;"></div>
					<div class="con-left">联系地址*：</div>
					<div class="con-right" style="width: 82%;"><input type="text" maxlength="100" minlength="1" tag="联系地址" class="form-control" name="address"/></div>

					<div class="con-left">合同类型*：</div>
					<div class="con-right">
						<select class="form-control" name="contract_type" id="contract_type">
							<option value="1">渠道</option>
							<option value="2">自营</option>
						</select>
					</div>
					<div class="con-left">产品类型*：</div>
					<div class="con-right">
						<select class="form-control" name="product_type" id="product_type">
							<option value="信用">信用</option>
							<option value="赎楼">赎楼</option>
							<option value="抵押">抵押</option>
						</select>
					</div>

					<div style="clear: both;"></div>
					<div id="product_type_div">
						<div class="con-left">产品名称*：</div>
						<div>
							<span class="product-list-dialog" id="product-list-dialog" style="color: red;cursor: pointer">点击选择</span>
							<input type="hidden" name="product_name" id="product_name" />
							<div id="product_type_name" style="max-height:80px;overflow: auto">

							</div>
						</div>
					</div>


					<div style="clear: both;"></div>

					<div class="con-left">借款金额*：</div>
					<div class="con-right">
						<div class="input-group">
							<input type="text" maxlength="10" minlength="1" tag="借款金额" class="form-control"
								   name="borrow_money" value="0" />
							<span class="input-group-addon">元</span>
						</div>
					</div>
					<div class="con-left">借款期限*：</div>
					<div class="con-right"><input type="text" maxlength="10" minlength="1" tag="借款期限" class="form-control" name="duration" value="0" /></div>



					<div class="con-left">月利率*：</div>
					<div class="con-right">
						<div class="input-group">
							<input type="text" maxlength="10" minlength="1" tag="月利率" class="form-control" name="month_rate" id="month_rate">
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<div class="con-left">年利率*：</div>
					<div class="con-right">
						<div class="input-group">
							<input type="text" maxlength="10" minlength="1" tag="年利率" class="form-control" name="year_rate" id="year_rate">
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<script>
						$('#month_rate').change(function(){
							var input_val=$(this).val();
							if(input_val==""){
								$('#year_rate').val("");
							}else{
								var patrn=/^[0-9]+(.[0-9]{1,2})?$/;
								if (!patrn.exec(input_val)) {
									$(this).val('');
									$('#year_rate').val("");
									showError("请输入正确格式的数据");
								}else {
									var year_rate=parseFloat(input_val)*12;
									$('#year_rate').val(year_rate.toFixed(2));
								}
							}
						});

						$('#year_rate').change(function(){
							var input_val=$(this).val();
							if(input_val==""){
								$('#month_rate').val("");
							}else{
								var patrn=/^[0-9]+(.[0-9]{1,2})?$/;
								if (!patrn.exec(input_val)) {
									$(this).val('');
									$('#month_rate').val("");
									showError("请输入正确格式的数据");
								}else {
									var year_rate=parseFloat(input_val)/12;
									$('#month_rate').val(year_rate.toFixed(2));
								}
							}
						});
					</script>


					<div class="con-left">服务费*：</div>
					<div class="con-right">
						<div class="input-group">
							<input type="text" maxlength="10" minlength="1" tag="服务费"
								   class="form-control" name="service_money" value="0" />
							<span class="input-group-addon">元</span>
						</div>
					</div>

					<div class="con-left" id="manger_money_tag" style="display: none">管理费(元)：</div>
					<div class="con-right">
						<input type="text" maxlength="10" tag="管理费" class="form-control" id="manger_money"
							   name="manger_money" value="0" style="display: none" />
					</div>


					<div style="clear: both;"></div>
					<div class="con-left">还款方式：</div>
					<div class="con-right">
						<select class="form-control" name="pay_type">
							<option value="1">等额本息</option>
							<option value="2">先息后本</option>
							<option value="3">等本等息</option>
							<option value="4">其他</option>
						</select>
					</div>

					<div style="clear: both;"></div>
					<div class="con-left">房产地址：</div>
					<div class="con-right" style="width: 82%;"><input type="text"  maxlength="100" tag="房产地址" class="form-control" name="house_address" /></div>

					<div class="con-left">户龄：</div>
					<div class="con-right"><input type="number" maxlength="10" tag="户龄" class="form-control" name="house_age" value="0" /></div>
					<div class="con-left">房产面积：</div>
					<div class="con-right"><input type="number" maxlength="10" tag="房产面积" class="form-control" name="house_area" value="0" /></div>

					<div style="clear: both;"></div>
					<div class="con-left">房产估值：</div>
					<div class="con-right"><input type="number" maxlength="10" tag="房产估值" class="form-control" name="house_value" value="0" /></div>
					<div class="con-left" id="channel_name_tag" style="display: none">出借人信息：</div>
					<div class="con-right"><input type="text" class="form-control"  maxlength="50" tag="出借人信息"  name="channel_name" id="channel_name" style="display: none"/></div>
					<div style="clear: both;"></div>

					<div class="con-left">放贷金额*：</div>
					<div class="con-right">
						<div class="input-group">
							<input type="text" maxlength="10" minlength="1" tag="放贷金额" class="form-control" name="give_money" value="0"/>
							<span class="input-group-addon">元</span>
						</div>
					</div>
					<div class="con-left">放贷时间*：</div>
					<div class="con-right">
						<input  id="datePicker" name="give_time"  maxlength="10" minlength="1" tag="放款时间" class="form-control Wdate2" type="text" value="">
					</div>

					<div id="give_money_two_div" style="display: none">
						<div class="con-left">放贷金额二：</div>
						<div class="con-right">
							<div class="input-group">
								<input type="number" maxlength="10" tag="放贷金额二" class="form-control" name="give_money_two" value="0"/>
								<span class="input-group-addon">元</span>
							</div>
						</div>

						<div class="con-left">放贷时间二：</div>
						<div class="con-right">
							<input  id="datePickerTwo" name="give_time_two" class="form-control Wdate2" type="text" value="">
						</div>
					</div>


					<div class="con-left">到期时间*：</div>
					<div class="con-right">
						<input  id="expireTime" name="expire_time"  maxlength="10" minlength="1" tag="到期时间" class="form-control Wdate2" type="text" value="">
					</div>

				</div>
				<div style="text-align: center;margin-top: 10px;border-top: solid #ddd 1px;padding-top: 5px">
					<span class="pull-left"><i class="fa fa-info"></i> 提示：查看更多信息，请使用窗口的滚动条 </span>
					<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> 保存</button>

				</div>
			</form>
		</div>


		<div class="tab-pane" id="tab_base_info"></div>
		<div class="tab-pane" id="tab_estate_info"></div>
		<div class="tab-pane" id="tab_docs"></div>
	</div>
</div>
<script type="text/javascript">
	window.selected_product = {};
	$("#product_type").val("{$data.product_type}");
	var product_type_div='show';
	datePicker('#datePicker',true);
	datePicker('#datePickerTwo',true);
	datePicker('#expireTime',true);
	$('#contract_add_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			var url = "{:U('index')}";
			pageLoad(url,'#page-wrapper');
			closeDlg();
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){

		if(checkInputLength('#contract_add_form')===false){return false;}


		if('' === $("#contract_type").val()){
			showError('请选择合同类型！');
			return false;
		}
		if('' === $("#product_type").val()){
			showError('请选择产品类型！');
			return false;
		}

		if(product_type_div=='show'){
			if('' === $('input[name=product_name]').val()){
				showError('请选择产品名称！');
				return false;
			}
		}
	}


	$('.product-list-dialog').click(function () {
		var url="{:U('product/productSelect')}";
		openAjaxDialog('产品选择列表', url, 1, 'nav');
	});


	$("#contract_type").bind("change",function(){
		if($(this).val()==2){
			$('#product_type_div').hide();
			product_type_div='hidden';

			$('#give_money_two_div').show();
			//自营的有出借人信息
			$('#channel_name').show();
			$('#channel_name_tag').show();
		}else{
			$('#product_type_div').show();
			product_type_div='show';

			$('#give_money_two_div').hide();
			//渠道的没有出借人信息
			$('#channel_name').hide();
			$('#channel_name_tag').hide();
		}
		showMangerMoney();
	});

	$("#product_type").bind("change",function(){
		showMangerMoney();
	});

	function showMangerMoney(){
		if($('#contract_type').val()==2&&$('#product_type').val()=='信用'){
			$('#manger_money').show();
			$('#manger_money_tag').show();
		}else{
			$('#manger_money').hide();
			$('#manger_money_tag').hide();
		}
	}


	$('.open_nav_tabs').click(function(){
		var customer_id=$('#customer_id').val();
		if(customer_id==""){showError("请先选择客户");return false;}
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");
		if($(tab_name).text()==""){
			var link = url+"?customer_id="+customer_id;
			loadURL(link,tab_name);
		}
	});
</script>