    <div class="navbar navbar-default">
        <form action="{:U('companyTable')}" id="frmSearch" class="navbar-form form-inline" method="get">
            <div class="form-group">
                <label class="control-label" for="input-borrower">借款人</label>
                <div class="input-group">
                    <input type="text" name="borrower" placeholder="借款人" class="input-sm" id="input-borrower" style="width:100px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="input-phone">手机号</label>
                <div class="input-group">
                    <input type="text" name="phone" placeholder="手机号" class="input-sm" id="input-phone" style="width:100px;">
                </div>
            </div>
            <div class="form-group">
                <select name="status" id="status" class="form-control">
                    <option value="">合同状态</option>
                    <option value="0">进行中</option>
                    <option value="1">结案中</option>
                    <option value="2">已结束</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">创建日期</label>
                <div class="input-group">
                    <input type="text" name="create_time" value="" placeholder="创建日期"  id="create_time" class="input-sm" style="width:190px";>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" onclick="ajax_get_table('search-form2',1)" id="button-filter" class="btn btn-default pull-right">
                    <i class="fa fa-search"></i> 筛选
                </button>
            </div>

            <div class="form-group pull-right">
                <button type="button" id="button-add-contract" class="btn btn-primary">
                    <i class="fa fa-plus"></i> 添加合同
                </button>
            </div>
            <div class="form-group pull-right">
                <label class="control-label" for="input-agreement-id">居间编号</label>
                <div class="input-group">
                    <input type="text" name="agreement_number" placeholder="居间编号" value="A" id="input-agreement-id" class="input-sm" style="width:100px;margin-right: 20px">
                </div>
            </div>
        </form>
    </div>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>借款人</th>
        <th>联系电话</th>
        <th>借款金额</th>
        <th>期限</th>
        <th>出借人信息</th>
        <th>业务员</th>
        <th>状态</th>
        <th>审核流程</th>
        <th width="320px">操作</th>
    </tr>
    </thead>
    <tbody id="search_result">
    <volist name="contract_list" id="vo">
        <tr>
            <td>&nbsp;</td>
            <td>{$vo['borrower']}</td>
            <td>{$vo['phone']}</td>
            <td>{$vo['borrow_money']}</td>
            <td>{$vo['duration']}</td>
            <td>{$vo['channel_name']}</td>
            <td>{$vo['user_name']}</td>
            <td>{$vo['status_name']}</td>
            <td>{$vo['process_status']}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-default btn-sm view_contract" rel="{$vo['contract_id']}"><i class="fa fa-search"></i> 查看 </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm edit_contract" rel="{$vo['contract_id']}"><i class="fa fa-edit"></i> 编辑 </a>
                <a href="javascript:void(0)" class="btn btn-info btn-sm edit_receivables" rel="{$vo['contract_id']}"><i class="fa fa-money"></i> 收款</a>
                <if condition="$vo.create_user_id eq $myUser_id && $vo.check_process eq 0 ">
                    <a href="javascript:void(0)" class="btn btn-warning btn-sm check_contract" rel="{$vo['contract_id']}" alt="结案申请" ><i class="fa fa-check"></i> 结案申请 </a>
                    <else/>
                    <a href="javascript:void(0)" class="btn btn-warning btn-sm view_check_contract" rel="{$vo['contract_id']}" alt="结案进度" ><i class="fa fa-search"></i> 结案进度 </a>
                </if>
            </td>
        </tr>
    </volist>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="11" class="page-bar">{$pageBar}</td>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(function(){
        $(".edit_contract").click(function(){
            var contract_id = $(this).attr('rel');
            openAjaxDialog('编辑合同信息',"{:U('edit')}/id/"+contract_id,true);
        });

        $(".edit_receivables").click(function(){
            var contract_id = $(this).attr('rel');
            openAjaxDialog('编辑合同信息',"{:U('edit')}/id/"+contract_id+"/opentab/addReceivables",true);
        });

        $(".view_contract").click(function(){
            var id = $(this).attr('rel');
            openAjaxDialog('查看合同',"{:U('view')}/contract_id/"+id,true);
        });


        $('#frmSearch').ajaxForm({beforeSend:checkForm,success:success});
        function checkForm(){

        }
        function success(data){
            $('#ajax-content').html(data);
        }
        //添加合同
        $("#button-add-contract").click(function(){
            var agreement_number = $('#input-agreement-id').val();
            if(agreement_number.length <1){
                showError("请填写正确的居间协议");
                return false;
            }
            openAjaxDialog('添加合同',"{:U('Contract/add')}/agreement_number/"+agreement_number,true);

        });

        $(".check_contract").click(function(){
            var contract_id = $(this).attr('rel');
            var check_name = $(this).attr('alt');
            var check = 0;
            if(check_name == '结案申请'){
                check = 1;
            }
            openAjaxDialog('合同 - '+check_name,"{:U('Check/refer')}/id/"+contract_id+"/check/"+check,true);
        });
        $(".view_check_contract").click(function(){
            var contract_id = $(this).attr('rel');
            var check_name = $(this).attr('alt');
            var check = 0;
            if(check_name == '结案申请'){
                check = 1;
            }
            openAjaxDialog('合同 - '+check_name,"{:U('Check/view')}/id/"+contract_id+"/check/"+check,true);
        });
    })
</script>