<style>
	.contract-content { width: 750px;}
	.contract-content .con-left { width: 18%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 40px;}
	.contract-content .con-right { width: 32%; float: left;height: 40px;}
</style>
<div class="contract-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_contract_info" data-toggle="tab" class="open_nav_tabs" url="{:U('tabContractInfo')}?id={$contract_id}">合同信息</a></li>
		<li><a href="#tab_receivables_add" data-toggle="tab" class="open_nav_tabs" url="{:U('Receivables/add')}?contract_id={$contract_id}">添加收款</a></li>
		<li><a href="#tab_receivables_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Receivables/table')}?contract_id={$contract_id}">回款信息</a></li>
		<li><a href="#tab_document_add" data-toggle="tab" class="open_nav_tabs" url="{:U('Document/add')}?contract_id={$contract_id}">添加附件</a></li>
		<li><a href="#tab_document_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Document/tabDocumentInfo')}?contract_id={$contract_id}">附件浏览</a></li>
	</ul>
	<input type="hidden" value="{$contract_id}" id="contract_id"/>
	<div class="tab-content">
		<!---------------------下面是编辑合同详细信息----------------------------------->
		<div class="tab-pane active" id="tab_contract_info"></div>
		<div class="tab-pane" id="tab_receivables_add"></div>
		<div class="tab-pane" id="tab_receivables_info"></div>
		<div class="tab-pane" id="tab_document_add"></div>
		<div class="tab-pane" id="tab_document_info"></div>
	</div>
</div>

<script type="text/javascript">
	var contract_id=$('#contract_id').val();


	$('.open_nav_tabs').click(function(){
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");

			var link = url;
			loadURL(link,tab_name);

	});
</script>

<if condition="$Think.get.opentab eq 'addReceivables'">
	<script type="text/javascript">
		var link = "{:U('Receivables/add')}?contract_id={$contract_id}";
		loadURL(link,'#tab_receivables_add');
		$('.tab-pane').removeClass('active');
		$('#tab_receivables_add').addClass('active');
		$('.nav-tabs li').removeClass('active');
		$('.nav-tabs li a').each(function(){
			if($(this).attr('href')=="#tab_receivables_add"){
				$(this).parent().addClass('active');
			}
		});
	</script>
	<else />
	<script type="text/javascript">
		var link = "{:U('tabContractInfo')}?id="+contract_id;
		loadURL(link,'#tab_contract_info');
	</script>
</if>

					
