<style>
	.page-add-customer{width:620px;margin-top: -10px}
	.page-add-customer ul{padding: 0;margin: 0}
	.page-add-customer .row{display:block;clear:both;margin:5px 0}
	.page-add-customer .service-btn-box{margin-top: 30px;padding:20px;border-top:solid #ddd 1px }
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}
	.col-2{}
	.col-2 label,.col-2 input,.col-2 select{display: inline;font-weight: normal}
	.col-2 label{display: block;float: left;width: 100px;line-height:30px;font-weight: 700}
	.col-2 input,.col-2 select{width: 165px;}
	.col-2 input[type='radio']{
		width:30px;
		line-height: 30px;
	}
</style>
<div class="page-add-customer">
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li class="active"><a href="#tab_contract_info" data-toggle="tab">查看合同</a></li>
		<li><a href="#tab_base_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabBaseInfo')}">客户信息</a></li>
		<li><a href="#tab_estate_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabEstateInfo')}">房产信息</a></li>
		<li><a href="#tab_docs" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabDocs')}">附件列表</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_contract_info">
			<input type="hidden" class="form-control" id="customer_id" value="{$agreementInfo.customer_id}" />
			<style>
				.contract-content { width: 600px; }
				.contract-content .con-left { width: 18%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 30px;}
				.contract-content .con-right { width: 32%; float: left;height: 30px;}
			</style>
			<div style="padding-top: 20px;" id="contract_view_tab1_show">
				<div class="contract-content">
					<input type="hidden" name="contract_id" value="{$contract_info['contract_id']}"/>
					<div class="con-left">借款人：</div>
					<div class="con-right">{$contract_info['borrower']}</div>
					<div class="con-left">借款人身份证：</div>
					<div class="con-right">{$contract_info['identity']}</div>

					<div class="con-left">户籍地址：</div>
					<div class="con-right" style="width: 82%;">{$contract_info['per_address']}</div>

					<div class="con-left">联系电话：</div>
					<div class="con-right">{$contract_info['phone']}</div>

					<div style="clear: both;"></div>
					<div class="con-left">联系地址：</div>
					<div class="con-right" style="width: 82%;">{$contract_info['address']}</div>


					<div class="con-left">合同类型：</div>
					<div class="con-right">
						<if condition="$contract_info['contract_type'] eq '1'">渠道</if>
						<if condition="$contract_info['contract_type'] eq '2'">自营</if>
					</div>

					<div style="clear: both;"></div>
					<div class="con-left">产品类型：</div>
					<div class="con-right" style="width: 82%;">
						<div id="product_type_name" style="line-height: 150%; margin: 0px 5px 15px 5px;">
							<volist name="contract_info.product_type_name" id="ptn">
								<span class="btn btn-info" style="margin: 5px;padding: 0 3px">{$ptn}</span>
							</volist>
						</div>
					</div>
					<div style="clear: both;"></div>

					<div class="con-left">借款金额：</div>
					<div class="con-right">{$contract_info['borrow_money']}</div>

					<div class="con-left">借款期限：</div>
					<div class="con-right">{$contract_info['duration']}</div>
					<div class="con-left">月利率：</div>
					<div class="con-right">{$contract_info['month_rate']} %</div>

					<div class="con-left">年利率：</div>
					<div class="con-right">{$contract_info['year_rate']} %</div>
					<div class="con-left">管理费：</div>
					<div class="con-right">{$contract_info['manger_money']}</div>

					<div class="con-left">还款方式：</div>
					<div class="con-right">
						<if condition="$contract_info['pay_type'] eq 1">等额本息
							<elseif condition="$contract_info['pay_type'] eq 2"/>先息后本
							<elseif condition="$contract_info['pay_type'] eq 3"/>等本等息
							<elseif condition="$contract_info['pay_type'] eq 4"/>其他
						</if>
					</div>

					<div class="con-left">房产地址：</div>
					<div class="con-right" style="width: 82%;">{$contract_info['house_address']}</div>

					<div class="con-left">户龄：</div>
					<div class="con-right">{$contract_info['house_age']}</div>
					<div class="con-left">房产面积：</div>
					<div class="con-right">{$contract_info['house_area']}</div>

					<div class="con-left">房产估值：</div>
					<div class="con-right">{$contract_info['house_value']}</div>
					<div class="con-left">出借人信息：</div>
					<div class="con-right">{$contract_info['lender']}</div>

					<div class="con-left">放贷金额：</div>
					<div class="con-right">{$contract_info['give_money']}</div>

					<div class="con-left">放贷时间：</div>
					<div class="con-right input-group date datepicker">
						{$contract_info['give_date']}
					</div>
				</div>
			</div>


		</div>


		<div class="tab-pane" id="tab_base_info"></div>
		<div class="tab-pane" id="tab_estate_info"></div>
		<div class="tab-pane" id="tab_docs"></div>
	</div>
</div>
<script type="text/javascript">
	$('.open_nav_tabs').click(function(){
		var customer_id=$('#customer_id').val();
		if(customer_id==""){showError("请先选择客户");return false;}
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");
		if($(tab_name).text()==""){
			var link = url+"?customer_id="+customer_id;
			loadURL(link,tab_name);
		}
	});
</script>