<style>
    .today h1 {
        font-size: 20px;
        font-weight: normal;
        padding: 0;
        margin: 0 0 20px 0
    }
    .today dl{display: inline}
    .today dt, .today dd {
        font-weight: normal;
        font-size: 16px
    }

</style>
<div class="today">
    <h1>今日统计 <small><abbr data-toggle="tooltip"  data-placement="right"
                          title="总数计算起始时间 2016-10-20,不包括今日数据;"><i class="fa fa-info"></i></abbr></small> </h1>
    <dl class="col-xs-2">
        <dt>分配客户数 / 总数</dt>
        <dd>{$current_data.assigns} / {$data.assigns|default=0}</dd>
    </dl>
    <dl class="col-xs-2">
        <dt>领取客户数 / 总数</dt>
        <dd>{$current_data.get_customers} / {$data.get_customers|default=0}</dd>
    </dl>
    <dl class="col-xs-2">
        <dt>沟通客户数 / 总数</dt>
        <dd>{$current_data.communication_customers} / {$data.communication_customers|default=0}</dd>
    </dl>
    <dl class="col-xs-2">
        <dt>沟通次数 / 总数</dt>
        <dd>{$current_data.communication_count} / {$data.communication_count|default=0}</dd>
    </dl>
    <dl class="col-xs-2">
        <dt>分配沟通客户数 / 总数</dt>
        <dd>{$current_data.assign_and_communication_customers} / {$data.assign_and_communication_customers|default=0}
        </dd>
    </dl>
    <dl class="col-xs-2">
        <dt>领取沟通客户数 / 总数</dt>
        <dd>{$current_data.get_and_communication_customers} / {$data.get_and_communication_customers|default=0}</dd>
    </dl>
</div>
