<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>客户名</th>
            <th>合同类型</th>
            <th>状态</th>
            <th>审核步骤</th>
            <th>提交人</th>
            <th>下一审核步骤</th>
            <th>审核轮次</th>
            <th>审核状态</th>
            <th>审核时间</th>
            <th width="80px">操作</th>
        </tr>
    </thead>
    <tbody id="search_result">
        <volist name="check_list" id="vo">
            <php>$owner_user_id = $vo['owner_user_id'];$check_user_id = $vo['check_user_id'];</php>
            <tr>
                <td>&nbsp;</td>
                <td>{$vo['customer_name']}</td>
                <td><if condition="$vo['contract_type'] eq 1">渠道<else/>自营</if></td>
                <td>{$vo['contract_status']}</td>
                <td>{$vo['check_name']}</td>
                <td>{$vo['check_user_name']}</td>
                <td>{$vo['next_check_name']}</td>
                <td>{$vo['check_num_name']}</td>
                <td><if condition="$vo['check_status'] eq 1">驳回<else/>同意</if></td>
                <td>{$vo['check_create_time']|date='Y-m-d',###}</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-default check_achievement btn-sm" rel="{$vo['achievement_id']}" alt="{$vo['next_check_name']}" >查看详情</a>
                </td>
            </tr>
        </volist>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" class="page-bar">{$pageBar}</td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(function(){
        $(".check_achievement").click(function(){
            var achievement_id = $(this).attr('rel');
            openAjaxDialog('查看合同',"{:U('Check/viewCheckOpen')}/achievement_id/"+achievement_id,true);
        });
    })
</script>