<style>
	.tab-content { width: 750px;max-height: 550px;overflow: auto }
	.tab-content div{ display: block; vertical-align: middle; }
	.tab-content .con-left  { width: 18%; float: left; height: 25px; text-align: right; padding-right: 5px; font-weight: 700;}
	.tab-content .con-right { width: 32%; float: left; height: 25px; }
	.list-unstyled {padding-bottom: 10px; border-bottom: 1px dashed #BBBBBB}
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}
</style>

<ul class="nav nav-tabs ul-edit">
	<li class="active"><a href="#tab_contract_info" data-toggle="tab">基本信息</a></li>
	<li><a href="#tab_document_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Document/tabDocumentInfo')}?contract_id={$contract_info['contract_id']}">附件信息</a></li>
	<li><a href="#tab_contract_info_show1" data-toggle="tab">回款列表</a></li>
	<li><a href="#tab_contract_info_show2" data-toggle="tab">审核流程</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" style="padding-top: 20px;" id="tab_contract_info">
		<input type="hidden" name="contract_id" value="{$contract_info['contract_id']}"/>

		<include file="include_contractInfo"/>

		<div style="clear:both; border-bottom: 1px dashed #BBBBBB;"></div>

		<!--下面是审核表单-->
		<form id="check_add_form" class="form" action="{:U('check')}" method="Post">
			<!--合同id号-->
			<input type="hidden" name="achievement_id" value="{$achievement_id}"/>
			<input type="hidden" name="contract_id" value="{$contract_info['contract_id']}"/>
			<input type="hidden" name="check_process" value="{$check_process}"/>

			<div style="clear:both;"></div>
			<div class="con-left" style="margin-top: 15px;">审核进度：</div>
			<div class="con-right" style="margin-top: 15px;height: auto;width: 81%;">
				<span class="btn btn-sm btn-<if condition="$check_process eq 0">warning<elseif condition="$check_process egt 1"/>success<else />default</if>">结案申请</span>
				<span class="fa fa-arrow-right"></span>
				<span class="btn btn-sm btn-<if condition="$check_process eq 1">warning<elseif condition="$check_process egt 2"/>success<else />default</if>">团队长</span>
				<span class="fa fa-arrow-right"></span>
				<span class="btn btn-sm btn-<if condition="$check_process eq 2">warning<elseif condition="$check_process egt 3"/>success<else />default</if>">分公司总经理</span>
				<span class="fa fa-arrow-right"></span>
				<span class="btn btn-sm btn-<if condition="$check_process eq 3">warning<elseif condition="$check_process egt 4"/>success<else />default</if>">财务</span>
			</div>

			<div style="clear:both;"></div>
			<div class="con-left">审核意见：</div>
			<div class="con-right">
				<input id="check_status_1" type="radio" name="check_status" value="0" checked /> 同意
				<input id="check_status_2" type="radio" name="check_status" value="1" /> 驳回
			</div>

			<div style="clear:both;"></div>
			<div class="con-left">&nbsp;</div>
			<div class="con-right" style="height: auto;width: 81%;">
				<textarea name="suggestion" class="form-control" rows="2" placeholder="请输入审核意见及建议..."></textarea>
			</div>

			<div style="clear:both;"></div>
			<div class="con-left" style="margin-top: 15px;">下一审核人：</div>
			<div class="con-right" style="margin-top: 15px;height: auto;width: 81%;">
				<select name="next_process" class="form-control" style="height: auto;width: 50%;float: left" id="next_process">
				</select>
				<select name="to_user_id" class="form-control" style="height: auto;width: 50%;" id="to_user_id">
				</select>
			</div>

			<div style="clear: both;"></div>
			<div style="text-align: center;margin-top: 15px;">
				<input type="submit" class="btn btn-success" name="submit" value="保存">&nbsp;&nbsp;&nbsp;
				<input type="button" class="btn btn-primary" onclick="javascript:closeDlg();" value="取消">
			</div>
			</if>
		</form>
	</div>
	<!--下面是合同附件信息-->
	<div class="tab-pane" style="padding-top: 20px; overflow-y: auto; overflow-x:hidden;  max-height: 600px;" id="tab_document_info"></div>
	<!--下面是回款列表信息-->
	<div class="tab-pane" style="padding-top: 20px" id="tab_contract_info_show1">
		<include file="Receivables/include_receivable_table"/>
	</div>
	<!--下面是审核流程信息-->
	<div class="tab-pane" style="padding-top: 20px;" id="tab_contract_info_show2">
		<include file="include_checkWay"/>
	</div>
</div>

<script>
	$('.open_nav_tabs').click(function(){
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");
		if($(tab_name).text()==""){
			var link = url;
			loadURL(link,tab_name);
		}
	});

	$('#check_add_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			var url = "{:U('myCheck')}";
			pageLoad(url,'#ajax-content');
			closeDlg();
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){
		if(!$('#next_process').val()){showError('请选择审核人');return false;}
		if(!$('#to_user_id').val()){showError('请选择审核人');return false;}
	}


	postajax({$contract_info['contract_id']},'1');

	$("#check_status_1").click(function(){
		postajax({$contract_info['contract_id']},'1');
	});
	$("#check_status_2").click(function(){
		postajax({$contract_info['contract_id']},'0');
	});

	function postajax(a,b){
		$.get("{:U('getProcess')}", { contract_id:a,action:b },function(data){
			if(data.errNum==0){
				var result=data.retData;
				var str1='<option value="'+result.process_id+'">'+result.process_name+'</option>';
				$('#next_process').html(str1);
				var str2='';
				for(var i=0;i<result.toUsers.length;i++){
					str2+='<option value="'+result.toUsers[i]['user_id']+'">'+result.toUsers[i]['user_name']+'</option>';
				}
				$('#to_user_id').html(str2);
			}else{
				showError('获取数据错误');
			}
		});
	}
</script>
