<style>
	.tab-content { width: 750px;max-height: 550px;overflow: auto }
	.tab-content div{ display: block; vertical-align: middle; }
	.tab-content .con-left  { width: 18%; float: left; height: 25px; text-align: right; padding-right: 5px; font-weight: 700;}
	.tab-content .con-right { width: 32%; float: left; height: 25px; }
	.list-unstyled {padding-bottom: 10px; border-bottom: 1px dashed #BBBBBB}
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}
</style>

<ul class="nav nav-tabs ul-edit">
	<li class="active"><a href="#tab_contract_info" data-toggle="tab">基本信息</a></li>
	<li><a href="#tab_document_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Document/tabDocumentInfo')}?contract_id={$contract_info['contract_id']}">附件信息</a></li>
	<li><a href="#tab_contract_info_show1" data-toggle="tab">回款列表</a></li>
	<li><a href="#tab_contract_info_show2" data-toggle="tab">审核流程</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" style="padding-top: 20px;" id="tab_contract_info">
		<input type="hidden" name="contract_id" value="{$contract_info['contract_id']}"/>

		<include file="include_contractInfo"/>

		<div style="clear:both; border-bottom: 1px dashed #BBBBBB;"></div>

		<!--下面是审核表单-->
		<div style="clear:both;"></div>
		<div class="con-left" style="margin-top: 15px;">审核进度：</div>
		<div class="con-right" style="margin-top: 15px;height: auto;width: 81%;">
			<span class="btn btn-sm btn-<if condition="$check_process eq 0">warning<elseif condition="$check_process egt 1"/>success<else />default</if>">结案申请</span>
			<span class="fa fa-arrow-right"></span>
			<span class="btn btn-sm btn-<if condition="$check_process eq 1">warning<elseif condition="$check_process egt 2"/>success<else />default</if>">团队长</span>
			<span class="fa fa-arrow-right"></span>
			<span class="btn btn-sm btn-<if condition="$check_process eq 2">warning<elseif condition="$check_process egt 3"/>success<else />default</if>">分公司总经理</span>
			<span class="fa fa-arrow-right"></span>
			<span class="btn btn-sm btn-<if condition="$check_process eq 3">warning<elseif condition="$check_process egt 4"/>success<else />default</if>">财务</span>
		</div>

	</div>
	<!--下面是合同附件信息-->
	<div class="tab-pane" style="padding-top: 20px; overflow-y: auto; overflow-x:hidden;  max-height: 600px;" id="tab_document_info"></div>
	<!--下面是回款列表信息-->
	<div class="tab-pane" style="padding-top: 20px" id="tab_contract_info_show1">
		<include file="Receivables/include_receivable_table"/>
	</div>
	<!--下面是审核流程信息-->
	<div class="tab-pane" style="padding-top: 20px;" id="tab_contract_info_show2">
		<include file="include_checkWay"/>
	</div>
</div>
<script>
	$('.open_nav_tabs').click(function(){
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");
		if($(tab_name).text()==""){
			var link = url;
			loadURL(link,tab_name);
		}
	});
</script>
