<!DOCTYPE html>
<html style="" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author">
    <title>系统公告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/web/css/layer.css" id="layui_layer_skinlayercss" style="">
    <link rel="stylesheet" href="__PUBLIC__/web/css/header.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/ydy.css">
    <!--<link rel="stylesheet" href="__PUBLIC__/web/css/gdmx.css">-->
    <link rel="stylesheet" href="__PUBLIC__/web/css/system.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/web/js/layer.js"></script>
    <script src="__PUBLIC__/web/js/jquery_003.js"></script>
    <script src="__PUBLIC__/web/js/jquery.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script src="__PUBLIC__/web/js/main.js"></script>
    <script src="__PUBLIC__/web/js/system.js"></script>
    
    <style>
        footer {
            color: #535952;
            font-size: 15px;
            margin: 20px auto;
            text-align: center;
            width: 1220px;
        }
    </style>

</head>
    <body>
        <include file="Public:header"/>
        <section id="main" class="news_list_main">
            <div class="system">
                <p><img src="__PUBLIC__/web/img/icon_0004.png" alt=""> 公告通知&nbsp;&gt;&nbsp;<span class="message" style="color: rgb(169, 11, 22);">平台公告</span></p>
                <a href="javascript:history.go(-1)">返回&gt;&gt;</a>
            </div>
<!--            <ul class="tell">
                <li class="noticeA "><a href="#t1" class="active" id="news_list">平台公告</a></li>
                <li class="noticeB"><a href="#t2" id="news_list_person" class="">审核通知</a></li>
                <li class="noticeC"><a href="#t3" id="news_list_deblocking" onclick="getDeblockingList(12, 1, 1);" class="">解封通知</a></li>
            </ul>-->
            <table id="t1" class="actives">
                <thead>
                    <tr>
                        <td class="one">编号</td>
                        <td class="two">公告标题</td>
                        <td class="three">公告类型</td>
                        <td class="four">时间</td>
                    </tr>
                </thead>
                <tbody class="gonggaotongzhi">
                    <volist name='newslist' id='vo'>
                    <tr>
                        <td>{$vo.id}</td>
                        <td class="title"><span style="cursor:pointer" onclick="newsDetail('{$vo.id}')">{$vo.title}</span></td>
                        <td>系统公告</td>
                        <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            
            <div class="result_null" style="display: none;">暂无数据</div>

            
            <div class="tcdPageCode" id="callBackPager" style="text-align: center; "> 
                {$show}
            </div>
        </section>
        <footer class="footer">





            <footer class="footer">
                <p>©有限公司版权所有</p><span><a class="jingbei" href="http://www.miitbeian.gov.cn/">粤ICP备15076181号</a></span>
                <p>2016V2.0版本</p>
            </footer>


        </footer>

