
<div class="wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="navbar navbar-default">
                    <form action="{:U('Product/table')}" id="frmSearch" class="navbar-form form-inline" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <select name="sub_company_id" id="input-status" class="input-sm">
                                    <option value="">分公司名称</option>
                                    <volist name="sub_company_list" id="vo" >
                                        <option value="{$vo['department_id']}">{$vo['name']}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="agency_name" placeholder="机构名称" class="input-sm" style="width:100px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="product_name" placeholder="产品名" class="input-sm" style="width:100px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="agency_owner" placeholder="对接人" class="input-sm" style="width:100px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="owner" placeholder="维护人" class="input-sm" style="width:100px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select name="status" id="status" class="input-sm">
                                    <option value="">状态</option>
                                    <option value="1">正常</option>
                                    <option value="0">停止</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="button-filter" class="btn btn-default pull-right">
                                <i class="fa fa-search"></i> 筛选
                            </button>
                        </div>
                        <button type="button" id="add-product" class="pull-right btn btn-primary">
                            <i class="fa fa-plus"></i> 添加
                        </button>
                    </form>

                </div>
            </div>
            <div class="box-body">
                <div id="ajax-content"> </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script type="text/javascript">
    $(function(){
        var link = "{:U('Product/table')}";
        loadURL(link,'#ajax-content');
        datePicker('#create_time');
            });

    $('#frmSearch').ajaxForm({beforeSend:checkForm,success:success});
    function checkForm(){

    }
    function success(data){
        $('#ajax-content').html(data);
    }


    //添加合同
    $("#add-product").click(function(){
        openAjaxDialog('添加产品',"{:U('Product/add')}",true);

    });
</script>