<style type="text/css">
    .pagebar {text-align: center;}
    .pagebar ul>li{display: inline;;margin-left: 10px}
</style>
<div style="width: 550px">
    <div class="clearfix" id="kongjian">
        <ul class="nav pull-left">
            <li class="pull-left">
                <select class="form-control" id="d_condition" name="condition" >
                    <option value="">全部</option>
                    <option value="sub_company">分公司</option>
                    <option value="name">名称</option>
                </select>
            </li>
            <li class="pull-left" id="d_search">
                <input class="form-control" id="d_value" type="text" name="value"/>
            </li>

            &nbsp; <button class="btn btn-info" onclick="d_changeContent(1)">筛选</button>
        </ul>
    </div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th width="40">操作</th>
                <th>分公司</th>
                <th>机构名称</th>
                <th>产品名称</th>
            </tr>
        </thead>
        <tbody id="search_result">
        <volist name="ProductList" id="vo">
            <tr <if condition="$vo.status eq 0">class="danger"</if>>
                <td><input onclick="getProduct(this)" type="checkbox" class="check_list" name="product_id[]"
                           value="{$vo['product_id']}" data-product_name="{$vo['product_name']}"/> </td>
                <td>{$vo['sub_company']}</td>
                <td>{$vo['agency_name']}</td>
                <td>{$vo['product_name']}</td>
            </tr>
        </volist>
        </tbody>
        <tfoot id="footers">
        <tr>
            <td><button type="button" class="btn btn-primary btn-sm select_ok">确定</button></td>
            <td colspan="3">
                <div class="pagebar">
                    <div >
                        <div style="float: left;">
                            <span id="counts">{$count}</span> 条记录 <span id="ps">1</span>/<span id="total_pages">{$total}</span> 页
                        </div>
                        <div style="float: left;"><ul id="changepages">
                            <li><span class='current'>首页</span></li>&nbsp;<li><span>« 上一页 </span></li>
                            <if condition="1 lt $total">
                                <li><a class="page" href="javascript:void(0)" rel="2"> 下一页 »</a></li>
                                <else />
                                <li><span> 下一页 »</span></li>
                            </if>
                        </ul></div>
                    </div>
                </div>

            </td>

        </tr>
        </tfoot>
    </table>

</div>
<script type="text/javascript">
    $(function(){
        checkProduct();
    });

    function checkProduct() {
        var product_ids = window.selected_product;

        $('.check_list').each(function () {
            var $this = $(this);
            var product_id = $(this).val();
            for(var i in product_ids){
                if(i === product_id){
                    $this.prop('checked',true);
                }
            }
        })
    }
    function getProduct(e) {
        var $this =$(e);
        var product_id = $this.val();
        var product_ids = '';
        var product_name = $this.attr('data-product_name');
        var product_names = '';
        //var product = {'product_id':product_id,'product_name':product_name};
        var checkFlag = $this.is(':checked');
        if(checkFlag){
            window.selected_product[product_id] = product_name;
        }else{
            delete window.selected_product[product_id];
        }
        for(var i in window.selected_product){
            product_ids += i+',';
            product_names +=  '<span class="btn btn-info" style="margin: 5px;padding: 0 3px">'+ window.selected_product[i]+'</span>';
        }
        $('#product_name').val(rtrim(product_ids,','));
        $('#product_type_name').html(product_names);

    }
    $('#d_condition').change(function(){
        var condition = $(this).val();
        if(condition == 'sub_company'){
            $.ajax({
                type: 'get',
                url: '{:U("Product/getSubCompany")}',
                async: false,
                success: function (data) {
                    var str = '<select class="form-control" id="d_value" name="value" >';
                    if(data.status == 0){
                        $.each(data.data,function (k,v) {
                            str += '<option value="'+v.department_id+'">'+v.name+'</option>';
                        })
                    }else{
                        str += '<option value="">暂无数据</option>';
                    }
                    str += '</select>';
                    $('#d_search').html(str);
                },
                dataType:'json'
            });
        }else if(condition == 'name'){
            var str = '<input class="form-control" id="d_value" type="text" name="value"/>';
            $('#d_search').html(str);
        }else{
            var str = '<input class="form-control" id="d_value" type="text" name="value"/>';
            $('#d_search').html(str);
        }
    });
    $('.select_ok').click(function(){
        closeDlg('nav');
    });
    $('.page').click(function(){
        var a = $(this).attr('rel');
        d_changeContent(a);
    });
    function d_changeContent(p){
        $('#footers').removeClass('hide');
        var condition = $('#d_condition').val();
        var value = $('#d_value').val();
        $.ajax({
            type:'get',
            url:'{:U("Product/productSelectChange")}?condition='+condition+'&value='+value+'&p='+p,
            async:false,
            success:function(data){
                temp = '';
                if(data.data.list != null){
                    $.each(data.data.list, function(k, v){
                        if(v.status==0){temp += "<tr class='danger'>";}else{temp += "<tr>";}
                        temp += "<td><input onclick='getProduct(this)' class='check_list' name='product_id[]' type='checkbox' " +
                                "value='"+v.product_id+"' data-product_name='"+v.product_name+"' /></td>";
                        temp += "<td>"+v.sub_company+"</td>";
                        temp += "<td>"+v.agency_name+"</td>";
                        temp += "<td>"+v.product_name+"</td>";
                        temp += "</tr>";
                    });
                    var changepage = "";
                    if(data.data.p == 1){
                        changepage = "<li><span class='current'>首页</span></li>&nbsp;<li><span>« 上一页</span></li>";
                        if(data.data.p < data.data.total){
                            changepage += "<li><a class='page' href='javascript:void(0)' rel='"+(parseInt(data.data.p)+1)+"'>下一页 »</a></li>";
                        }else{
                            changepage += "<li><span>下一页 »</span></li>";
                        }
                    }else if(data.data.p == data.data.total){
                        changepage = "<li><a class='page' href='javascript:void(0)' rel='1'>首页</a></li>&nbsp;<li><a class='page' href='javascript:void(0)' rel='"+(data.data.p-1)+"'>« 上一页</a></li>&nbsp;&nbsp;<li><span>下一页 »</span></li>";
                    }else{
                        changepage = "<li><a class='page' href='javascript:void(0)' rel='1'>首页</a></li>&nbsp;<li><a class='page' href='javascript:void(0)' rel='"+(data.data.p-1)+"'>« 上一页</a></li>&nbsp;&nbsp;<li><a class='page' href='javascript:void(0)' rel='"+(parseInt(data.data.p)+1)+"'>下一页 »</a></li>";
                    }
                    $('#search_result').html(temp);
                    $('#ps').html(data.data.p);
                    $('#changepages').html(changepage);
                    $('#counts').html(data.data.count);
                    $('#total_pages').html(data.data.total);
                    $('.page').click(function(){
                        var a = $(this).attr('rel');
                        d_changeContent(a);
                    });
                    checkProduct();
                    getProduct();
                }else{
                    $('#search_result').html('<tr><td colspan="4">查不到筛选结果</td></tr>');
                    $('#footers').addClass('hide');
                }
            },
            dataType:'json'
        });
    }
</script>