<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>分公司</th>
            <th>机构名</th>
            <th>产品名</th>
            <th>对接人</th>
            <th>联系电话</th>
            <th>维护人</th>
            <th>联系电话</th>
            <th>合作时间</th>
            <th>状态</th>
            <th width="160px">操作</th>
        </tr>
    </thead>
    <tbody id="search_result">
        <volist name="product_list" id="vo">
            <tr <if condition="$vo.status eq 0">class="danger"</if>>
                <td>&nbsp;</td>
                <td>{$vo['sub_company']}</td>
                <td>{$vo['agency_name']}</td>
                <td>{$vo['product_name']}</td>
                <td>{$vo['agency_owner']}</td>
                <td>{$vo['agency_phone']}</td>
                <td>{$vo['owner']}</td>
                <td>{$vo['phone']}</td>
                <td>{$vo['cooperate_time']|date='Y-m-d',###}</td>
                <td>
                    <if condition="$vo.status eq 1">
                        <span class="status_mark">正常</span>
                        <span class="btn btn-default btn-sm btn-status" data-toggle="tooltip" title="点击终止产品" rel="{$vo['product_id']}">停</span>
                        <else/>
                        <span class="status_mark">终止</span>
                        <span class="btn btn-success btn-sm btn-status" data-toggle="tooltip" title="点击启用产品" rel="{$vo['product_id']}">启</span>
                    </if>
                </td>
                <td>
                    <a href="javascript:void(0)" class="product_view  btn btn-default btn-sm"   rel="{$vo['product_id']}"><i class="fa fa-search"></i> 查看 </a>
                    <a href="javascript:void(0)" class="product_edit btn btn-primary btn-sm" rel="{$vo['product_id']}"><i class="fa fa-edit"></i> 编辑 </a>
                </td>
            </tr>
        </volist>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" class="page-bar">{$pageBar}</td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(function(){
        $(".product_edit").click(function(){
            var product_id = $(this).attr('rel');
            openAjaxDialog('编辑产品信息',"{:U('edit')}/product_id/"+product_id,true);
        });

        $(".product_view").click(function(){
            var product_id = $(this).attr('rel');
            openAjaxDialog('查看产品信息',"{:U('view')}/product_id/"+product_id,true);
        });
    })

    $('.btn-status').click(function(){
        if($(this).text()=='停'){var toStatus=0;}else{var toStatus=1;}
        var this_button=$(this);
        var url= "{:U('updataStatus')}/id/"+$(this).attr('rel')+"/toStatus/"+toStatus;
        $.get(url, function (data) {
            if(data.errNum==0){
                showSuccess(data.retData);
                if(this_button.text()=='停'){
                    this_button.removeClass('btn-default');
                    this_button.addClass('btn-success');
                    this_button.text('启');
                    this_button.parent().find('.status_mark').text('终止');
                    this_button.parent().parent().addClass('danger');
                }else{
                    this_button.removeClass('btn-success');
                    this_button.addClass('btn-default');
                    this_button.text('停');
                    this_button.parent().find('.status_mark').text('正常');
                    this_button.parent().parent().removeClass('danger');
                }
            }else{
                showError(data.errMsg);
            }
        });
    });
</script>