
<style>
	.contract-content { width: 600px; max-height: 550px; overflow: auto }
	.contract-content div{ display: block; vertical-align: middle; }
	.contract-content .con-left { width: 18%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 40px;}
	.contract-content .con-right { width: 32%; float: left;height: 40px;clear:right}
	.product-num { margin-bottom: 20px;padding-right: 10px; }
</style>
<div class="contract-content">

	<div class="con-left">分公司：</div>
	<div class="con-right">{$product_info['sub_company']}</div>
	<div class="con-left">机构名称：</div>
	<div class="con-right">{$product_info['agency_name']}</div>

	<div class="con-left">合作时间：</div>
	<div class="con-right">{$product_info['cooperate_time']|date='Y-m-d',###}</div>
	<div class="con-left">状态：</div>
	<div class="con-right">
		<if condition="$product_info['status'] eq 1">正常
			<else /> 终止
		</if>
	</div>

	<div class="con-left">产品名称：</div>
	<div class="con-right" style="width: 82%;">{$product_info['product_name']}</div>

	<div class="con-left">对接人：</div>
	<div class="con-right">{$product_info['agency_owner']}</div>
	<div class="con-left">联系电话：</div>
	<div class="con-right">{$product_info['agency_phone']}</div>

	<div class="con-left">维护人：</div>
	<div class="con-right">{$product_info['owner']}</div>
	<div class="con-left">联系电话：</div>
	<div class="con-right">{$product_info['phone']}</div>

	<div class="con-left">产品类型：</div>
		<div class="con-right" style="width: 82%;">
			{$product_info['type1']} - {$product_info['type2']} - {$product_info['type3']}
		</div>

		<div style="clear: both;"></div>
		<div class="con-left">产品描述：</div>
		<div class="con-right" style="width: 82%;height: auto;margin-bottom: 15px;">
			{$product_info['description']}
		</div>
	</div>
</div>