<style>
	.page-add-customer{width:620px;margin-top: -10px}
	.page-add-customer ul{padding: 0;margin: 0}
	.page-add-customer .row{display:block;clear:both;margin:5px 0}
	.page-add-customer .service-btn-box{margin-top: 30px;padding:20px;border-top:solid #ddd 1px }
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}
	.col-2{}
	.col-2 label,.col-2 input,.col-2 select{display: inline;font-weight: normal}
	.col-2 label{display: block;float: left;width: 100px;line-height:30px;font-weight: 700}
	.col-2 input,.col-2 select{width: 165px;}
	.col-2 input[type='radio']{
		width:30px;
		line-height: 30px;
	}
	.agreement-content { width: 600px; overflow-y: auto; overflow-x: hidden;}
	.agreement-content .con-left { width: 18%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 40px;}
	.agreement-content .con-right { width: 32%; float: left;height: 40px;}
	.customer-info {width: 82%; float: left;min-height: 40px;height: auto!important;height: 40px;overflow: hidden;border: 1px solid #ddd;margin-bottom: 5px; }
	.customer-info .con-left { width: 22%; line-height: 30px;float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 30px;}
	.customer-info .con-right { width: 70%; float: left;height: 30px;line-height: 30px;}
</style>
<div class="page-add-customer">
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li class="active"><a href="#tab_agreement_add" data-toggle="tab">协议信息</a></li>
		<li><a href="#tab_base_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabBaseInfo')}">客户信息</a></li>
		<li><a href="#tab_estate_info" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabEstateInfo')}">房产信息</a></li>
		<li><a href="#tab_docs" data-toggle="tab" class="open_nav_tabs" url="{:U('Customer/tabDocs')}">附件列表</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_agreement_add">
			<form id="agreement_edit_form" class="form" action="{:U('edit')}" method="Post">

				<div class="agreement-content">
					<input name="agreement[agreement_id]" type="hidden" value="{$info.agreement.agreement_id}">
					<div class="con-left">客户：</div>
					<div class="con-right">
						<input type="hidden" name="agreement[customer_id]" id="customer_id" value="{$info.agreement.customer_id}">
						<input type="text" class="form-control" id="customer_name" name="customer_name" value="{$customer[customer_name]}" readonly />
					</div>
					<div class="con-left">协议编号*：</div>
					<div class="con-right">
						<input type="text" class="form-control" id="agreement_number" name="agreement[number]" maxlength="11" minlength="1" tag="居间协议编号" value="{$info.agreement.number}"/>
					</div>
					<div class="con-left">产品类型：</div>
					<div class="con-right">
						<if condition="$lock">
							{$info.agreement.product_type}
							<else/>
							<select name="agreement[product_type]" class="form-control" id="product_type">
								<option value="">选择类型</option>
								<option value="抵押" <eq name="info[agreement][product_type]" value="抵押">selected</eq> >抵押</option>
								<option value="信用" <eq name="info[agreement][product_type]" value="信用">selected</eq> >信用</option>
								<option value="赎楼" <eq name="info[agreement][product_type]" value="赎楼">selected</eq> >赎楼</option>
							</select>
						</if>
					</div>

					<if condition="$lock">
						<div class="con-left">借款人*：</div>
						<div class="con-right">{$info.agreement.borrower}</div>
						<div class="con-left">电话*：</div>
						<div class="con-right">{$info.agreement.telephone}</div>
						<div class="con-left">证件号*：</div>
						<div class="con-right">{$info.agreement.identity}</div>
						<else/>
						<div class="con-left">借款人*：</div>
						<div class="con-right"><input type="text" id="borrower" maxlength="20" minlength="1" tag="借款人" class="form-control" name="agreement[borrower]" value="{$info.agreement.borrower}" /></div>
						<div class="con-left">电话*：</div>
						<div class="con-right"><input type="text" id="telephone" truelength="11" tag="电话" class="form-control" name="agreement[telephone]" value="{$info.agreement.telephone}" /></div>
						<div class="con-left">证件号*：</div>
						<div class="con-right"><input type="text" id="identity" maxlength="50" minlength="1" tag="证件号" class="form-control" name="agreement[identity]" value="{$info.agreement.identity}" /></div>
					</if>

					<div class="con-left">拟借款金额*：</div>
					<div class="con-right">
						<if condition="$lock">
							{$info.agreement.plan_money}
							<else/>
							<div class="input-group">
								<input type="text" id="plan_money" maxlength="10" minlength="1" tag="拟借款金额"
									   class="form-control" name="agreement[plan_money]" value="{$info.agreement.plan_money}" />
								<span class="input-group-addon">元</span>
							</div>
						</if>
					</div>
					<div class="con-left">费率：</div>
					<div class="con-right">
						<if condition="$lock">
							{$info.agreement.rate}
							<else/>
							<div class="input-group">
								<input type="text" id="rate" class="form-control" name="agreement[rate]" value="{$info['agreement']['rate']}" />
								<span class="input-group-addon">%</span>
							</div>
						</if>
					</div>
					<div class="con-left">佣金*：</div>
					<div class="con-right">
						<if condition="$lock">
							{$info.agreement.commission}
							<else/>
							<div class="input-group">
								<input type="text" id="commission" maxlength="10" minlength="1" tag="佣金"
									   class="form-control" name="agreement[commission]" value="{$info.agreement.commission}" />
								<span class="input-group-addon">元</span>
							</div>
						</if>
					</div>



					<!--<div class="con-left">收定金：</div>-->
					<div class="con-right" style="display: none"><input type="checkbox" name="is_deposit" class="is_deposit" checked="checked" /></div>
					<!--<div style="clear:both;"></div>-->

					<div class="deposit_div">
						<div class="con-left">预付款：</div>
						<div class="con-right">
							<if condition="$lock">
								{$info.receivables.deposit}
								<else/>
								<div class="input-group">
									<input type="text" class="form-control receivables_pay_money" maxlength="10" tag="预付款"
										   name="receivables[deposit]" value="{$info.receivables.deposit}"  />
									<span class="input-group-addon">元</span>
								</div>
							</if>
						</div>

						<div class="con-left">支付类型：</div>
						<div class="con-right">
							<if condition="$lock">
								{$info.receivables.pay_type}
								<else/>
								<select name="receivables[pay_type]" class="form-control" id="receivables_pay_type" >
									<option value=""></option>
									<option value="1">银行转账</option>
									<option value="2">现金</option>
									<option value="3">pos机</option>
									<option value="4">微信</option>
									<option value="5">支付宝</option>
									<option value="6">其他</option>
								</select>
							</if>
						</div>

						<div class="con-left">支付日期：</div>
						<div class="con-right">
							<div class="customer_master_field_value">
								<if condition="$lock">
									{$info.receivables.pay_time|date='Y-m-d',###}
									<else/>
									<input name="receivables[pay_time]"  class="form-control" type="text" value="{$info.receivables.pay_date}" id="datePicker">
								</if>
							</div>
						</div>

						<div class="row" id="pay_person_div" style="display: none;">
							<if condition="$lock">
								<div class="con-left">付款人：</div>
								<div class="con-right">{$info.receivables.payee}</div>
								<div class="con-left">付款账户：</div>
								<div class="con-right">{$info.receivables.payee_account}</div>
								<else/>
								<div class="con-left">付款人：</div>
								<div class="con-right"><input type="text" class="form-control receivables_pay_money" maxlength="20" tag="付款人" name="receivables[payee]" value="{$info.receivables.payee}" /></div>
								<div class="con-left">付款账户：</div>
								<div class="con-right"><input type="text" class="form-control receivables_pay_money" maxlength="50" tag="付款账户" name="receivables[payee_account]" value="{$info.receivables.payee_account}" /></div>
							</if>
						</div>
					</div>

					<if condition="$lock">
						<input type="button" class="btn btn-default pull-right" onclick="javascript:closeDlg();" value="关闭">
						<else/>
						<input type="submit" class="btn btn-primary pull-right" name="submit" value="保存">&nbsp;&nbsp;&nbsp;

					</if>

				</div>


			</form>
		</div>


		<div class="tab-pane" id="tab_base_info"></div>
		<div class="tab-pane" id="tab_estate_info"></div>
		<div class="tab-pane" id="tab_docs"></div>
	</div>
</div>
<script type="text/javascript">
	datePicker('#datePicker',true);
	$("#receivables_pay_type").bind("change",function(){
		if($(this).val()==1){
			$('#pay_person_div').show();
		}else{
			$('#pay_person_div').hide();
		}
	});
	$("#receivables_pay_type").val("{$info.receivables.pay_type}");
	$("#receivables_pay_type").change();
	$('#agreement_edit_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			closeDlg();
			var link = "{:U('table')}/p/"+$('.current').text();
			pageLoad(link,'#page-contents');
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){

		if(checkInputLength('#agreement_edit_form')===false){return false;}

		if($.trim($('#customer_id').val()) == ''){
			showWarning('没有选择客户！');
			return false;
		}
		if($('#product_type').val()===''){
			showWarning('请选择产品类型！');
			return false;
		}

	}
	$(".is_deposit").click(function(){
		if($("input[class='is_deposit']").is(':checked')){
			$('.deposit_div').show();
		}else{
			$('.deposit_div').hide();
			$("input[name='deposit']").val('');
		}
	});

	var plan = parseFloat($.trim($('#plan_money').val()));
	var commission = parseFloat($.trim($('#commission').val()));
	$('#plan_money').keyup(function(){
		var val=parseFloat($.trim($(this).val()));
		if(isNaN(val)){
			showError("请正确填写值");
			$(this).val(0);
		}else{
			plan = val;
			if(plan && commission){
				$('#rate').val((commission*100/plan).toFixed(2));
			}else{
				$('#rate').val(0);
				$('#commission').val(0);
			}
		}
	});
	$('#commission').keyup(function(){
		var val=parseFloat($.trim($(this).val()));
		if(isNaN(val)){
			showError("请正确填写值");
			$(this).val(0);
		}else{
			commission = val;
			if(plan){
				$('#rate').val((commission*100/plan).toFixed(2));
			}else{
				$('#plan_money').val(0);
				$('#rate').val(0);
			}
		}
	});
	$('#rate').keyup(function () {
		var val = parseFloat($.trim($(this).val()));
		if (isNaN(val)) {
			showError("请正确填写值");
			$(this).val(0);
		} else {
			var rate = val;
			var plan = parseFloat($.trim($('#plan_money').val()));
			if (plan) {
				$('#commission').val((plan * rate/100).toFixed(2));
			} else {
				$('#plan_money').val(0);
				$('#rate').val(0);
			}
		}
	});

	$('.open_nav_tabs').click(function(){
		var customer_id=$('#customer_id').val();
		if(customer_id==""){showError("请先选择客户");return false;}
		var tab_name=$(this).attr("href");
		var url=$(this).attr("url");
		if($(tab_name).text()==""){
			var link = url+"?customer_id="+customer_id;
			loadURL(link,tab_name);
		}
	});
</script>