<div style="width:700px">
<table class="table table-responsive ">
    <thead>
    <tr>
        <th>协议编号</th>
        <th>客户名</th>
        <th>意向金额</th>
        <th>佣金</th>
        <th>状态</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th width="150px">操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="brand_list" item="vo">
        <tr>
            <td>{$vo.number}</td>
            <td>{$vo.costomer_name}</td>
            <td>{$vo.plan_money}</td>
            <td>{$vo.commission}</td>
            <td>{$vo.status_name}</td>
            <td>{$vo.user_name}</td>
            <td>{$vo.create_data}</td>
            <td>
                <if condition="$vo.contract_id eq NULL">
                    <a href="javascript:void(0)" class="update-agreement btn btn-primary btn-sm" rel="{$vo.agreement_id}">编辑</a>
                    <a href="javascript:void(0)" class="add_contract btn btn-success btn-sm" rel="{$vo.agreement_id}">签署合同</a>
                    <else/>
                    <a href="javascript:void(0)" class="update-agreement btn btn-primary btn-sm" rel="{$vo.agreement_id}">查看</a>
                    <a href="javascript:void(0)" class="view_contract btn btn-info btn-sm" rel="{$vo.contract_id}">查看合同</a>
                </if>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>
</div>
<script>

    $('.update-agreement').click(function () {
        var id = $(this).attr("rel");
        var txt = $(this).html();
        var url = "{:U('Agreement/edit')}/id/"+id;
        openAjaxDialog(txt+'协议',url,true);
    });
    $(".add_contract").click(function(){
        var id = $(this).attr('rel');
        openAjaxDialog('添加合同',"{:U('Contract/add')}/id/"+id,true);
    });

    $(".view_contract").click(function(){
        var id = $(this).attr('rel');
        openAjaxDialog('查看合同',"{:U('Contract/view')}/contract_id/"+id,true);
    });

</script>