<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th width="50px"><label><input type="checkbox" name="checklist" class="checklist head-btn icheck"><span></span></label></th>
        <th>居间协议编号</th>
        <th>客户名</th>
        <th>拟借款金额</th>
        <th>佣金</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>状态</th>
        <th width="180px">操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="brand_list" item="vo">
        <tr>
            <td><label>
                <input type="checkbox" name="ids[]" value="{$vo.agreement_id}" class="icheck list-btn"><span class=""></span>
            </label></td>
            <td><a  href="javascript:void(0)" rel="{$vo.agreement_id}" class="view-agreement">{$vo.number}</a></td>
            <td>{$vo.costomer_name}</td>
            <td>{$vo.plan_money}</td>
            <td>{$vo.commission}</td>
            <td>{$vo.user_name}</td>
            <td>{$vo.create_data}</td>
            <td>
                <span class="status_mark">{$vo.status_name}</span>
                <php>
                    if(($vo['status'] == 0) AND ($vo['create_user_id'] == $_SESSION['user_info']['user_id'])){
                    echo('<span class="btn btn-default btn-sm btn-status" data-toggle="tooltip" rel="'.$vo['agreement_id'].'">失败</span>');
                    }elseif(($vo['status'] == -1) AND ($vo['create_user_id'] == $_SESSION['user_info']['user_id'])){
                    echo('<span class="btn btn-success btn-sm btn-status" data-toggle="tooltip" rel="'.$vo['agreement_id'].'">启用</span>');
                    }
                </php>

            </td>
            <td>
                <if condition="$vo.contract_id eq NULL">
                    <a href="javascript:void(0)" class="update-agreement btn btn-primary btn-sm" rel="{$vo.agreement_id}"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="javascript:void(0)" class="add_contract btn btn-success btn-sm" rel="{$vo.agreement_id}"><i class="fa fa-check"></i> 签署合同</a>
                    <else/>
                    <a href="javascript:void(0)" class="view-agreement btn btn-primary btn-sm" rel="{$vo.agreement_id}"><i class="fa fa-edit"></i> 查看</a>
                    <a href="javascript:void(0)" class="view_contract btn btn-default btn-sm" rel="{$vo.contract_id}"><i class="fa fa-share"></i> 查看合同</a>
                </if>
            </td>
        </tr>
    </foreach>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10" class="page-bar">{$pageBar}</td>
    </tr>
    </tfoot>
</table>
<script>
    $('.update-agreement').click(function () {
        var id = $(this).attr("rel");
        var url = "{:U('edit')}/id/"+id;
        openAjaxDialog('编辑协议',url,true);
    });

    $('.view-agreement').click(function () {
        var id = $(this).attr("rel");
        var url = "{:U('view')}/id/"+id;
        openAjaxDialog('查看协议',url,true);
    });

    $(".add_contract").click(function(){
        var id = $(this).attr('rel');
        openAjaxDialog('添加合同',"{:U('Contract/add')}/id/"+id,true);
    });

    $(".view_contract").click(function(){
        var id = $(this).attr('rel');
        openAjaxDialog('查看合同',"{:U('Contract/view')}/contract_id/"+id,true);
    });

    //客户全部选中
    var m= 0;
    $(".checklist").click(function(){
        var ids = document.getElementsByName("ids[]");
        m++;
        if(ids.length > 0){
            for(var i = 0; i < ids.length; i++){
                if(m%2 == 0){
                    ids[i].checked = false;
                }else{
                    ids[i].checked = true;
                }
            }
        }

    })

    $('.btn-status').click(function(){
        if($(this).text()=='失败'){var toStatus=-1;}else{var toStatus=0;}
        var this_button=$(this);
        var url= "{:U('updataStatus')}/id/"+$(this).attr('rel')+"/toStatus/"+toStatus;
        $.get(url, function (data) {
            if(data.errNum==0){
                showSuccess(data.retData);
                if(this_button.text()=='失败'){
                    this_button.removeClass('btn-default');
                    this_button.addClass('btn-success');
                    this_button.text('启用');
                    this_button.parent().find('.status_mark').text('无效');
                }else{
                    this_button.removeClass('btn-success');
                    this_button.addClass('btn-default');
                    this_button.text('失败');
                    this_button.parent().find('.status_mark').text('处理中');
                }
            }else{
                showError(data.errMsg);
            }
        });
    });
</script>