<form action="" id="uploadForm" enctype="multipart/form-data" method="post">
	<input type="hidden" name="contract_id" id="contract_id" value="{$_GET['contract_id']}">
	<input type="hidden" name="customer_id" id="customer_id" value="{$_GET['customer_id']}">
	<style>
		.upload-content .con-left { width: 20%; float: left; text-align: right; padding-right: 5px; font-weight: 700;height: 40px;}
		.upload-content .con-right { float: left;height: 40px;}
	</style>
	<div class="upload-content">
		<input type="hidden" id="upload_max_filesize" value="{$upload_max_filesize}">
		<div class="con-left">选择分类：</div>
		<div style="width: 60%; float: left;">
			<select id="category_f" class="form-control">
				<volist name="category_level1" id="vo">
					<option value="{$vo.document_c_id}">{$vo['name']}</option>
				</volist>
			</select>
		</div>
		<div style="clear: both;"></div>

		<div class="con-left"></div>
		<div style="width: 60%; float: left;">
			<select name="category" id="category_s" class="form-control">
			</select>
		</div>
		<div style="clear: both;"></div>

		<div class="con-left"></div>
		<div style="width: 60%; float: left;">
			<select id="category_t" class="form-control">
			</select>
			<select id="category_tt" class="form-control hide" >
			</select>
		</div>
		<div style="clear: both;"></div>

		<div class="con-left">上传类型：</div>
		<div style="float: left;">允许上传类型：pdf, doc, docx, xls, xlsx, txt, rar, zip, jpg, png, jpeg, gif </div>
		<div style="clear: both;"></div>

		<div class="con-left">附件大小：</div>
		<div style="float: left;"><p style="color: red;">附件大小不能超过 {$upload_max_filesize}</p></div>
		<div style="clear: both;"></div>

		<div class="con-left">选择附件：</div>
		<div style="float: left;">
			<p id="attachment1"><input type="file" class="file" id="file" name="file[]"/></p>
			<a id="add_more" href="javascript:add_file(2);">添加附件</a>
		</div>

		<div style="clear: both;"></div>
		<div style="text-align: center;">
			<input type="button" class="btn btn-success submit" name="submit" value="上传">&nbsp;&nbsp;&nbsp;
			<input type="button" class="btn btn-primary" onclick="javascript:closeDlg();" value="取消">
		</div>
	</div>
</form>
<script type="text/javascript">
	function add_file(id) {
		$("#add_more").before('<p id="attachment' + id + '"><input type="file" class="file" name="file[]"/> <a href=\'javascript:void(0)\'  onclick=\'javascript:$(\"#attachment' + id + '\").remove();\'>删除</a></p>');
		$("#add_more").attr('href', 'javascript:add_file(' + (id+1) + ');');
	}
	$(".submit").click(function(){
		var files = $('input[type="file"]').val();
		if(files.length < 1) {
			showError('请选择你要上传的文件！');
			return false;
		}
		var upload_max_filesize = $('#upload_max_filesize').val();
		var max_filesize = size_calculate(upload_max_filesize);
		var file_null = false;
		var flag = true;

		$('input[class="file"]').each(function(){
			var file_info = $(this).val();
			if(file_info.length){
				if(this.files[0].size>max_filesize){
					showError('文件大小超过上传限制!');
					flag = false;
				}
				file_null = true;
			}
		});
		if(!file_null){
			showError('请选择上传的文件!');
			flag = false;
		}
		if(flag) {
			var formData = new FormData($("#uploadForm")[0]);
			$.ajax({
				url: "{:U('Document/add')}",
				type: 'POST',
				data: formData,
				async: false,
				cache: false,
				contentType: false,
				processData: false,
				success: function (data) {
					if (data.status == 1) {
						showSuccess('上传图片成功!');
						closeDlg();
						var contract_id=$('#contract_id').val();
						var link = "{:U('tabDocumentInfo')}?contract_id="+contract_id;
						loadURL(link,'#tab_contract_info');
						$('.nav-tabs li').removeClass("active");
					} else {
						showError(data.message);
					}
				},
				error: function (returndata) {
					showError('上传图片失败!');
				}
			});
		}
	});
	$('#category_f').change(function(){
		var category_id = $(this).val();
		getsubcategory(category_id,'category_s',1);
	});
	$('#category_s').change(function(){
		var category_id = $(this).val();
		getsubcategory(category_id,'category_t',2);
	});
	function getsubcategory(category_id,tab_id,level){
		$.ajax({
			url : "{:U('Document/getNextCategory')}",
			type : "post",
			data: {id:category_id},
			dataType : "json",
			async : false,
			success : function(data1) {
				var temp = "";
				if(data1.status==1){
					$.each(data1.data,function(k,v){
						temp += "<option value='"+v.document_c_id+"'>"+v.name+"</option>";
					});
					$('#'+tab_id).html(temp);
					if(parseInt(level) == 2){
						$('#category_s').attr('name','');
						$('#category_t').attr('name','category');
					}else{
						$('#category_s').attr('name','category');
						$('#category_t').attr('name','');
					}
					if(parseInt(level) == 1){
						$('#category_t').html('');
						var category_second = $('#category_s').val();
						getsubcategory(category_second,'category_t',2);
					}

				}else{
					temp += "<option></option>";
					$('#'+tab_id).html(temp);
				}
			},
			error : function() {
				alert("服务器异常！");
			}
		});
	}
	function size_calculate(size){
		var unit = size[size.length-1];
		var val = '';
		for(var i=0;i<size.length;i++){
			val += size[i];
		}
		var bb;
		switch(unit){
			case 'k':
			case 'K': bb = 1024;break;
			case 'm':
			case 'M': bb = 1024*1024;break;
			case 'g':
			case 'G': bb = 1024*1024*1024;break;
			default:  bb = 1;
		}
		file_size = parseFloat(val)*bb;
		return file_size;
	}
	$(document).ready(function(){
		var category_first = $('#category_f').val();
		getsubcategory(category_first,'category_s',1);
		var category_second = $('#category_s').val();
		getsubcategory(category_second,'category_t',2);
	});
</script>