<style>
	.img{font-size: 30px; width: 60px;height: 70px;height: auto!important;min-height: 70px;overflow: hidden;line-height: 70px;text-align:center;padding: 2px;border: 1px solid #ccc}
	.img img{margin: auto; width: 100%}

</style>
<div style="padding-top: 20px; overflow-y: auto; overflow-x:hidden;  max-height: 380px;" class="contract_view_show" id="contract_view_show_tab2">
	<volist name="upfileinfos" id="vo">
		<div class="row">
			<div class="col-xs-1">
				{$i}
			</div>
			<div class="col-xs-2">
				<div class="img">
					<i class="fa fa-picture-o"></i>
				</div>
			</div>
			<div class="col-xs-5">{$vo.document_c_name_header} {$vo.document_c_name}</div>
			<div class="col-xs-4">
				<a target="_self"  href="{:U('Document/previewDocument','id='.$vo['rc_document_id'])}" class="litebox" data-litebox-group="group-file" data-litebox-text="{$vo.document_c_name_header} {$vo.document_c_name}">预览</a>
				<a target="_blank" href="{:U('Document/downloadDocument','id='.$vo['rc_document_id'])}">下载</a>
			</div>
		</div>
	</volist>
</div>
<script type="text/javascript">
	$('.litebox').liteBox({
		revealSpeed: 400,
		background: 'rgba(0,0,0,.8)',
		overlayClose: true,
		escKey: true,
		navKey: true,
		errorMessage: '图片加载失败.'
	});
</script>