<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>序号</th>
            <th>业务员</th>
            <th>借款人</th>
            <th>出借人</th>
            <th>借款金额</th>

            <th>总佣金</th>
            <!--<th>服务费</th>-->
            <th>预付款</th>

            <th>返费收入</th>
            <th>材料费</th>
            <th>返费支出</th>
            <th>净佣金</th>
            <th>收佣时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="search_result">
    <empty name="achievement_list">
        <tr>
            <td colspan="18" style="text-align:center;">暂无数据!</td>
        </tr>
        <else/>
        <volist name="achievement_list" id="vo">
            <tr>
                <td>&nbsp;</td>
                <td>{$key+1}</td>
                <td>{$vo['user_name']}</td>
                <td>{$vo['contract']['borrower']}</td>
                <td>{$vo['contract']['channel_name']}</td>
                <td>{$vo['contract']['borrow_money']}</td>

                <td>{$vo['commission_total']}</td>
                <!--<td>{$vo['commission']}</td>-->
                <td>{$vo['deposit']}</td>

                <td>{$vo['return_fee']}</td>
                <td>{$vo['packing']}</td>
                <td>{$vo['channel_money']}</td>
                <td>{$vo['commission_net']}</td>
                <td>{$vo['contract']['give_time']|date='Y-m-d',###}</td>
                <td>
                    <if condition="($vo['status'] eq 0) AND ($vo['user_id'] eq $myUserid)">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm check_achievement" rel="{$vo['achievement_id']}" > 确认业绩 </a>
                        <elseif  condition="$vo['status'] eq 1"/>
                        已确认
                    </if>
                </td>
            </tr>
        </volist>
    </empty>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="18" class="page-bar">{$pageBar}</td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(function(){
        $(".check_achievement").click(function(){
            var achievement_id = $(this).attr('rel');
            if(confirm("你确定要确认该业绩？")) {
                var url = "{:U('check')}/id/"+achievement_id;
                $.get(url,function(data){
                    if(data.errNum==0){
                        showSuccess(data.retData);
                        var url = "{:U('index')}";
                        pageLoad(url,'#page-wrapper');
                    }else{
                        showError(data.errMsg);
                    }
                });
            }
        });
    })
</script>